<li class="flex flex-col ml-10 h-full gap-1">
    <h3
      class="font-bold text-[#055A97] dark:text-[#3D7AFF] text-xl sm:text-3xl lista-item flex" data-i18n="teachAssistant"
    >
    Ayudante y Tutor de Programación en Unity
    </h3>
    <span class="mb-4 text-sm text-[#272727] dark:text-[#f9f9f9]" data-i18n="teachAssistantSpan"
      >Universidad Nacional de La Plata | Sep. 2023 - Actualidad</span
    >
    <span class="text-base sm:text-lg font-medium text-[#272727] dark:text-[#F9F9F9]" data-i18n="teachAssistantSub"
      >Catedra Taller de Diseño de Experiencias Interactivas</span
    >
    <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="teachAssistantSub1">
        · Despeje y resolví dudas de los alumnos a partir de la programación en Unity con C#.
    </p>
    <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="teachAssistantSub2">
      · Me encargué de manejo de código del Template que brindamos en Unity, además de brindar soporte con respecto a sensores y herramientas alternativas del programa.
    </p>
    <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="teachAssistantSub3">
        · Fui parte del manejo de la plataforma de Discord como medio de comunicación principal para el contacto con los alumnos.
      </p>
  </li>

  