<li class="flex flex-col ml-10 h-full gap-1">
  <h3
    class="font-bold text-[#055A97] dark:text-[#3D7AFF] text-xl sm:text-3xl lista-item flex"
    data-i18n="devsignerFreelo"
  >
    Diseñador Web y Desarrollador Front-end
  </h3>
  <span
    class="mb-4 text-sm text-[#272727] dark:text-[#f9f9f9]"
    data-i18n="devsignerFreeloSpan">Freelance | Abril 2024 - Actualidad</span
  >
  <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloIntro">Durante mi trayectoria freelance desarrollé soluciones digitales en WordPress, Elementor Pro y WooCommerce, así como proyectos a medida con Astro, TailwindCSS y JavaScript. Todos los sitios fueron diseñados en base a prototipos creados en Figma y diversas herramientas de diseño UI/UX.</p>
  <span

    class="text-base sm:text-lg font-medium text-[#272727] dark:text-[#F9F9F9] mt-4"
    >B&B Racing Parts:</span
  >
  <p
    class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]"
    data-i18n="devsignerFreeloBB1"
  >
    · Realicé el diseño de la WebApp OnePage, incluyendo el Login.
  </p>
  <p
    class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]"
    data-i18n="devsignerFreeloBB2"
  >
    · Realicé el desarrollo de un iframe para la descripción de productos de la
    plataforma de Ebay.
  </p>

  <span
    class="text-base sm:text-lg font-medium text-[#272727] dark:text-[#F9F9F9] mt-4"
    >Bonté Deco:</span
  >
  <p
    class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]"
    data-i18n="devsignerFreeloBonte1"
  >
    · Diseñé toda la página web con Figma.
  </p>
  <p
    class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]"
    data-i18n="devsignerFreeloBonte2"
  >
    · Realicé el desarrollo de la página web con Astro, TailwindCSS y
    TypeScript/JS.
  </p>
  <p
    class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]"
    data-i18n="devsignerFreeloBonte4"
  >
    · Generé páginas dinámicas mediante el uso de API Restful.
  </p>

  <span
    class="text-base sm:text-lg font-medium text-[#272727] dark:text-[#F9F9F9] mt-4"
    >KZ Group:</span
  >
  <p
    class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]"
    data-i18n="devsignerFreeloKz1"
  >
    · Diseñé toda la página web con Figma.
  </p>
  <p
    class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]"
    data-i18n="devsignerFreeloKz2"
  >
    · Realicé el desarrollo de la página web con Astro, TailwindCSS y
    TypeScript/JS.
  </p>
  <p
    class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]"
    data-i18n="devsignerFreeloKz3"
  >
    · Implementé SEO mediante sus correspondientes etiquetas y OpenGraph.
  </p>
  <p
    class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]"
    data-i18n="devsignerFreeloKzUnico"
  >
    · Implementé ClientRouter desde Astro y formularios con Web3Forms.
  </p>


  <div class="mt-4 flex items-center">
    <span
      class="font-bold text-lg sm:text-2xl text-[#272727] dark:text-[#F9F9F9]"
      data-i18n="devsignerFreeloNexiumTitle"
      >Trabajos con
    </span><a
      href="https://nexiumsolutions.online/"
      class="font-bold text-lg sm:text-2xl text-[#017858] dark:text-[#01c38e] ml-1 hover:text-[#028b40] dark:hover:text-[#01c372] transition-colors duration-200"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Visitar Nexium Solutions (se abre en nueva pestaña)">Nexium Solutions</a
    >
    <span
      class="font-bold text-lg sm:text-2xl text-[#272727] dark:text-[#F9F9F9]"
      >:</span
    >
  </div>

  <span
    class="text-base sm:text-lg font-medium text-[#272727] dark:text-[#F9F9F9] mt-4" data-i18n="devsignerFreeloJugasoTitle"
    >Jugaso (Página minorista, no jugaso.com):</span
  >
  <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloJugaso1">
    · Desarrollé la página completa con WordPress, Elementor Pro y WooCommerce.
  </p>
  <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloJugaso2">
    · Me encargué del diseño y estructuración con Elementor Pro.
  </p>
  <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloJugaso3">
    · Hice uso de complementos para mayor legibilidad y funcionalidad como
    sistema de filtros, carrito de compras custom, selectores dinámicos de
    features, etc.
  </p>

  <span
    class="text-base sm:text-lg font-medium text-[#272727] dark:text-[#F9F9F9] mt-4"
    >Axel Fauth:</span
  >
  <p
    class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]"
    data-i18n="devsignerFreeloAxelFauth1"
  >
    · Diseñé toda la página web con Figma.
  </p>
  <p
    class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]"
    data-i18n="devsignerFreeloAxelFauth2"
  >
    · Realicé el desarrollo de la página web con Astro, TailwindCSS y
    TypeScript/JS.
  </p>
  <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloAxelFauthUnico">
    · Implementé el sistema DarkMode con TailwindCSS.
  </p>

  <span
    class="text-base sm:text-lg font-medium text-[#272727] dark:text-[#F9F9F9] mt-4"
    >DobleG:</span
  >
  <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloDobleG1">
    · Desarrollé la página completa con WordPress, Elementor Pro y WooCommerce.
  </p>
  <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloDobleG2">
    · Me encargué principalmente del desarrollo del mini-resumen dinámico de los productos en donde calcula el precio.
  </p>
  <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloDobleG3">
    · Realicé la integración del precio dinámico con WooCommerce, y plugin Override para que Nave lo detectara correctamente.
  </p>
  
</li>
