<li class="flex flex-col ml-10 h-full gap-1">
    <h3
      class="font-bold text-[#055A97] dark:text-[#3D7AFF] text-xl sm:text-2xl lista-item flex"
    >
    Ayudante y Tutor de Programación en Unity
    </h3>
    <span class="mb-4 text-sm text-[#272727] dark:text-[#f9f9f9]"
      >Universidad Nacional de La Plata | Sep. 2023 - Dic. 2024</span
    >
    <span class="text-base font-medium text-[#272727] dark:text-[#F9F9F9]"
      >Catedra Taller de Diseño de Experiencias Interactivas</span
    >
    <p class="text-sm text-[#272727] dark:text-[#F9F9F9]">
        · Despeje y resolví dudas de los alumnos a partir de la programación en Unity con C#.
    </p>
    <p class="text-sm text-[#272727] dark:text-[#F9F9F9]">
        · Fui parte del manejo de la plataforma de Discord como medio de comunicación principal para el contacto con los alumnos.
      </p>
  </li>

  