<li class="flex flex-col ml-10 h-full gap-1">
    <h3
      class="font-bold text-[#055A97] dark:text-[#3D7AFF] text-xl sm:text-3xl lista-item flex" data-i18n="devsignerFreelo"
    >
      Diseñador Web y Desarrollador Front-end
    </h3>
    <span class="mb-4 text-sm text-[#272727] dark:text-[#f9f9f9]" data-i18n="devsignerFreeloSpan"
      >Freelance | Abril 2024 - Actualidad</span
    >
    <span class="text-base sm:text-lg font-medium text-[#272727] dark:text-[#F9F9F9]"
      >B&B Racing Parts:</span
    >
    <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloBB1">
      · Realice el diseño de la WebApp OnePage, incluyendo el Login.
    </p>
    <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloBB2">
      · Realice el desarrollo de un iframe para la descripción de productos
      de la plataforma de Ebay.
    </p>
    <span class="text-base sm:text-lg font-medium text-[#272727] dark:text-[#F9F9F9]">Bonté Deco:</span>
    <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloBonte1">· Diseñe toda la pagina web con Figma.
    </p>
    <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloBonte2">· Realice el desarrollo de la pagina web con Astro, TailwindCSS y TypeScript/JS.
    </p>
    <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloBonte3">· Implemente SEO mediante sus correspondientes etiquetas y OpenGraph.
    </p>
    <p class="text-sm sm:text-base text-[#272727] dark:text-[#F9F9F9]" data-i18n="devsignerFreeloBonte4">· Diseñe y genere paginas dinámicas mediante el uso de API Restful.
    </p>
  </li>

  