---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Experiencia from "../components/Experiencia.astro";
import Proyectos from "../components/Proyectos.astro";
import Habilidades from "../components/Habilidades.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Damián Parrilli - Portfolio Web"
  description="Diseñador y desarrollador web Front-end. Dedicado al diseño y prototipado de paginas web, como también su implementación en diferentes tecnologías."
  keywords="Diseñador Web, Web Designer, Desarrollador Frontend, Frontend Developer, Multimedia Design"
>
  <div class="overlay">
</div>
    <Banner />
    <Experiencia />
    <Proyectos />
    <Habilidades />
    <Footer />
  
</Layout>
