---
interface Props {
  class?: string;
  variant?: "project" | "skill";
}

const { class: className = "", variant = "project" } = Astro.props;

const isProject = variant === "project";
const isSkill = variant === "skill";

const baseClasses = "text-xs sm:text-sm flex items-center gap-1 rounded-2xl px-3 py-1";
const projectClasses = "text-[#f9f9f9] bg-[#8A12FD20]";
const skillClasses = "text-[#272727] dark:text-[#F9F9F9] bg-[#8A12FD20] hover:bg-[#8A12FD50] transition-all duration-300 ease-in-out skill-variant";

const finalClasses = `${baseClasses} ${isProject ? projectClasses : skillClasses} ${className}`;
---

<style>
  .skill-variant {
    font-size: 1.05rem;
    user-select: none;
  }
  
  .skill-variant svg {
    scale: 1.1;
    margin-right: 2px;
  }
  
  @media (width < 640px) {
    .skill-variant {
      font-size: 0.875rem;
    }
    
    .skill-variant svg {
      scale: 1;
      margin-right: 0;
    }
  }
</style>

<span class={finalClasses}>
  <svg
    class="w-4 h-auto"
    viewBox="0 0 10 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1.1707 2.16496C1.15219 1.63254 1.56695 1.1416 2.12765 1.1416H7.87297C8.43367 1.1416 8.84844 1.63254 8.82992 2.16496C8.81211 2.67637 8.83523 3.33887 9.00195 3.87902C9.16922 4.4209 9.45125 4.76332 9.9132 4.80738V5.30637C9.45125 5.35043 9.16922 5.69285 9.00195 6.23473C8.83523 6.77488 8.81211 7.43738 8.82992 7.94879C8.84844 8.48121 8.43367 8.97207 7.87297 8.97207H2.12765C1.56695 8.97207 1.15219 8.48113 1.1707 7.94879C1.18851 7.43738 1.16539 6.77488 0.998592 6.23473C0.831405 5.69293 0.548592 5.35043 0.0866394 5.30637V4.80738C0.548592 4.7634 0.831405 4.4209 0.998592 3.87902C1.16539 3.33887 1.18844 2.67637 1.1707 2.16496Z"
      fill="url(#paint0_linear_191_53)"
    ></path>
    <g filter="url(#filter0_d_191_53)">
      <path
        d="M5.24294 7.1669C6.15067 7.1669 6.69767 6.72245 6.69767 5.98937C6.69767 5.43523 6.30738 5.03405 5.72785 4.97055V4.94746C6.15363 4.8782 6.48775 4.4828 6.48775 4.04122C6.48775 3.41205 5.99101 3.0022 5.23408 3.0022H3.53096V7.1669H5.24294ZM4.19328 3.53037H5.07442C5.55341 3.53037 5.82542 3.74394 5.82542 4.13068C5.82542 4.54341 5.50906 4.77429 4.93544 4.77429H4.19328V3.53037ZM4.19328 6.63873V5.26782H5.06849C5.69532 5.26782 6.02057 5.4987 6.02057 5.94895C6.02057 6.39918 5.70421 6.63873 5.10693 6.63873H4.19328Z"
        fill="url(#paint1_linear_191_53)"
      ></path>
    </g>
    <defs>
      <filter
        id="filter0_d_191_53"
        x="3.22389"
        y="2.77189"
        width="3.78087"
        height="4.77894"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        ></feColorMatrix>
        <feOffset dy="0.0767688"></feOffset>
        <feGaussianBlur stdDeviation="0.153538"></feGaussianBlur>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_191_53"
        ></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_191_53"
          result="shape"
        ></feBlend>
      </filter>
      <linearGradient
        id="paint0_linear_191_53"
        x1="1.54684"
        y1="1.34884"
        x2="10.1334"
        y2="8.16498"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#9013FE"></stop>
        <stop offset="1" stop-color="#6610F2"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_191_53"
        x1="3.83059"
        y1="3.27626"
        x2="5.74981"
        y2="6.52224"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white"></stop>
        <stop offset="1" stop-color="#F1E5FC"></stop>
      </linearGradient>
    </defs>
  </svg>

  Bootstrap
</span>
