---
interface Props {
  class?: string;
  variant?: "project" | "skill";
}

const { class: className = "", variant = "project" } = Astro.props;

const isProject = variant === "project";
const isSkill = variant === "skill";

const baseClasses = "text-xs sm:text-sm flex items-center gap-1 rounded-2xl px-3 py-1";
const projectClasses = "text-[#f9f9f9] bg-[#00618A20]";
const skillClasses = "text-[#272727] dark:text-[#F9F9F9] bg-[#00618A20] hover:bg-[#00618A40] transition-all duration-300 ease-in-out skill-variant";

const finalClasses = `${baseClasses} ${isProject ? projectClasses : skillClasses} ${className}`;
---

<span class={finalClasses}>
  <svg
    class="w-4 h-auto"
    viewBox="0 0 9 9"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_191_98)">
      <path
        d="M0 6.42047H0.298266V5.24295L0.759937 6.26937C0.814289 6.39382 0.88875 6.43748 1.03514 6.43748C1.18153 6.43748 1.25297 6.39382 1.30732 6.26937L1.76899 5.24295V6.4204H2.06726V5.24491C2.06726 5.13009 2.02141 5.07462 1.92663 5.04607C1.70002 4.97548 1.54814 5.03644 1.47923 5.18944L1.02635 6.20264L0.587742 5.18944C0.521859 5.03644 0.366961 4.97548 0.140625 5.04607C0.0458437 5.07462 0 5.13009 0 5.24491L0 6.42047ZM2.31539 5.4619H2.61337V6.11067C2.61063 6.14583 2.62463 6.22852 2.78803 6.23126H3.43652V5.45859H3.73535C3.73676 5.45859 3.73479 6.51216 3.73479 6.51659C3.73641 6.77639 3.41262 6.83271 3.2632 6.83714H2.32172V6.63661L3.26489 6.63633C3.45684 6.61629 3.43406 6.52066 3.43406 6.48881V6.41055H2.80041C2.50545 6.40781 2.31785 6.279 2.31539 6.13092C2.31511 6.11749 2.32172 5.46851 2.31539 5.4619Z"
        fill="#00618A"
      ></path>
      <path
        d="M3.965 6.42056H4.82246C4.92272 6.42056 5.02025 6.39939 5.09766 6.36318C5.22675 6.30412 5.28961 6.22368 5.28961 6.11849V5.90067C5.28961 5.81467 5.21818 5.73424 5.07755 5.68094C5.00309 5.65211 4.91112 5.63699 4.82239 5.63699H4.46091C4.34061 5.63699 4.28323 5.60071 4.26896 5.52056C4.26622 5.51092 4.26622 5.50326 4.26622 5.49363V5.35792C4.26622 5.35026 4.26622 5.34253 4.26896 5.33296C4.28323 5.272 4.3148 5.25471 4.42083 5.24507L4.44966 5.24317H5.30107V5.04461H4.464C4.3437 5.04461 4.28056 5.05228 4.22311 5.06936C4.04543 5.12484 3.96795 5.21273 3.96795 5.36573V5.53961C3.96795 5.67335 4.11982 5.78817 4.37499 5.81481L4.46098 5.81868H4.77078C4.78231 5.81868 4.79356 5.81868 4.80235 5.82058C4.89685 5.82824 4.93693 5.84554 4.96575 5.87992C4.98059 5.89363 4.9891 5.91318 4.98854 5.93322V6.10738C4.98854 6.12827 4.97426 6.1552 4.94571 6.17798C4.91991 6.20104 4.87681 6.21616 4.81964 6.22003L4.78807 6.22192H3.965V6.42056ZM7.14994 6.07448C7.14994 6.27909 7.3021 6.39363 7.60859 6.41669L7.69486 6.42056H8.47189V6.22171H7.6891C7.51416 6.22171 7.44821 6.17777 7.44821 6.07258V5.04419H7.15022V6.07441L7.14994 6.07448ZM5.48002 6.08488V5.37599C5.48002 5.19606 5.60665 5.0868 5.85654 5.05242C5.88321 5.04857 5.91011 5.04664 5.93705 5.04665H6.50286C6.53168 5.04665 6.55749 5.04855 6.58639 5.05242C6.83635 5.08673 6.9627 5.19606 6.9627 5.37599V6.08488C6.9627 6.23099 6.90912 6.30904 6.7853 6.36009L7.07921 6.62517H6.73285L6.49526 6.41064L6.25606 6.42576H5.93719C5.87793 6.42558 5.81897 6.41725 5.76197 6.40101C5.5722 6.3494 5.48016 6.2497 5.48016 6.08488H5.48002ZM5.80191 6.06759C5.80191 6.07722 5.80465 6.08678 5.80768 6.09839C5.82497 6.18079 5.90246 6.22663 6.02023 6.22663H6.29107L6.04224 6.00199H6.3886L6.60558 6.19809C6.64566 6.17664 6.67175 6.14423 6.6811 6.10225C6.68384 6.09262 6.68384 6.08306 6.68384 6.07342V5.39364C6.68384 5.38598 6.68384 5.37635 6.6811 5.36671C6.6638 5.29007 6.58632 5.24613 6.47129 5.24613H6.0203C5.88818 5.24613 5.80198 5.3035 5.80198 5.39364L5.80191 6.06759Z"
        fill="#E48E00"
      ></path>
      <path
        d="M8.73415 4.7143C8.55098 4.70938 8.41085 4.72639 8.29111 4.77695C8.25708 4.79122 8.20265 4.7915 8.19717 4.83411C8.21587 4.85387 8.2189 4.88326 8.23373 4.90717C8.26228 4.95357 8.31065 5.01538 8.35375 5.04779L8.49958 5.15214C8.58909 5.20677 8.68936 5.23813 8.77591 5.29276C8.82675 5.32518 8.87723 5.36582 8.92694 5.40238C8.95141 5.42024 8.96786 5.4485 9 5.45975V5.45455C8.98326 5.4331 8.97883 5.40371 8.96343 5.3815L8.89558 5.31364C8.82942 5.22575 8.74533 5.14855 8.65582 5.08428C8.58438 5.03317 8.42512 4.96398 8.39517 4.88101L8.38997 4.87581C8.44052 4.87032 8.49986 4.8519 8.54627 4.83953C8.62481 4.81836 8.69484 4.82385 8.77563 4.80296L8.88525 4.77139V4.75079C8.84433 4.70875 8.81522 4.65327 8.77043 4.61509C8.65399 4.51595 8.52651 4.41653 8.39524 4.33356C8.32247 4.28771 8.23268 4.25804 8.15547 4.21902C8.12967 4.20587 8.08404 4.19926 8.06674 4.17725C8.02638 4.12564 8.00437 4.06025 7.97308 4.00007L7.78549 3.604C7.74597 3.51364 7.7201 3.42435 7.67067 3.34335C7.43421 2.95417 7.17932 2.71932 6.78459 2.48863C6.70085 2.43948 6.59946 2.42021 6.49293 2.39497L6.32074 2.38457C6.28586 2.36973 6.24958 2.32691 6.21668 2.30631C6.08597 2.22362 5.75058 2.04404 5.65361 2.28022C5.59265 2.42936 5.74509 2.5749 5.79972 2.65049C5.8379 2.7035 5.88705 2.76285 5.91426 2.8224C5.9324 2.86143 5.93543 2.90066 5.95083 2.94214C5.98872 3.04431 6.0217 3.15526 6.07085 3.24976C6.0956 3.29757 6.12274 3.34785 6.1541 3.39039C6.17329 3.41647 6.20627 3.42828 6.21147 3.46864C6.17934 3.51371 6.17744 3.58346 6.1593 3.64056C6.07774 3.89734 6.10847 4.21649 6.22715 4.40682C6.26343 4.46504 6.34908 4.59027 6.46692 4.54225C6.56993 4.5002 6.54686 4.37033 6.57625 4.25551C6.58315 4.22971 6.579 4.21044 6.59193 4.19314V4.19835L6.68587 4.38594C6.75534 4.49774 6.87839 4.61446 6.9828 4.69328C7.03715 4.7342 7.07976 4.80507 7.14979 4.82898V4.8235H7.14459C7.13088 4.80261 7.10972 4.79382 7.09242 4.77681C7.0515 4.73673 7.00615 4.68702 6.97268 4.6411C6.87761 4.51229 6.79359 4.37111 6.71723 4.22415C6.68067 4.15412 6.64882 4.07664 6.61809 4.00527C6.60628 3.97778 6.60656 3.93608 6.58181 3.92202C6.54806 3.97419 6.49835 4.01652 6.47219 4.07832C6.43043 4.1769 6.42522 4.29749 6.40954 4.42222L6.39914 4.42743C6.32665 4.40985 6.30105 4.33518 6.27419 4.27112C6.20578 4.10905 6.19319 3.84784 6.25331 3.66137C6.26871 3.61307 6.33902 3.46084 6.31047 3.4164C6.29704 3.37189 6.25226 3.34609 6.22722 3.31206C6.1945 3.26642 6.16653 3.21756 6.14376 3.16623C6.088 3.0396 6.06192 2.89792 6.00314 2.77016C5.97515 2.70892 5.92762 2.64711 5.8886 2.59276C5.84522 2.53264 5.79684 2.48842 5.76337 2.41557C5.75156 2.38977 5.73539 2.34828 5.75297 2.32164C5.75845 2.30378 5.76668 2.29639 5.78425 2.29063C5.81449 2.26728 5.89879 2.29829 5.93008 2.31123C6.01383 2.3461 6.08365 2.37908 6.15445 2.42605C6.1882 2.44855 6.22258 2.49221 6.26379 2.50431H6.31075C6.38409 2.52104 6.46622 2.50923 6.53491 2.53011C6.65606 2.56689 6.76483 2.62433 6.86313 2.6867C7.16358 2.87619 7.40918 3.14619 7.57722 3.46836C7.60443 3.52025 7.61597 3.56968 7.63987 3.62467C7.68797 3.73562 7.74836 3.84988 7.79618 3.95837C7.84399 4.06686 7.8904 4.17592 7.95768 4.26599C7.99312 4.31324 8.13016 4.33848 8.19225 4.36485C8.23591 4.38327 8.30735 4.40246 8.34855 4.4275C8.42765 4.47503 8.50401 4.53156 8.57819 4.5838C8.61497 4.61017 8.72873 4.66733 8.7345 4.71423L8.73415 4.7143ZM6.4042 2.72853C6.37267 2.72803 6.3412 2.73152 6.31054 2.73894V2.74414H6.31575C6.33389 2.78176 6.36602 2.80595 6.38852 2.83808L6.44069 2.94742L6.4459 2.9425C6.47831 2.91971 6.49286 2.88315 6.49286 2.82768C6.47972 2.81396 6.47803 2.79695 6.46678 2.78071C6.45194 2.75898 6.42318 2.74696 6.4042 2.72853Z"
        fill="#00618A"
      ></path>
    </g>
    <defs>
      <clipPath id="clip0_191_98">
        <rect width="9" height="9" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>

  MySQL
</span>

<style>
  .skill-variant {
    font-size: 1.05rem;
    user-select: none;
  }
  
  .skill-variant svg {
    scale: 1.1;
    margin-right: 2px;
  }
  
  @media (width < 640px) {
    .skill-variant {
      font-size: 0.875rem;
    }
    
    .skill-variant svg {
      scale: 1;
      margin-right: 0;
    }
  }
</style>
