---
interface Props {
  class?: string;
  variant?: "project" | "skill";
}

const { class: className = "", variant = "project" } = Astro.props;

const isProject = variant === "project";
const isSkill = variant === "skill";

const baseClasses = "text-xs sm:text-sm flex items-center gap-1 rounded-2xl px-3 py-1";
const projectClasses = "text-[#f9f9f9] bg-[#81CD3920]";
const skillClasses = "text-[#272727] dark:text-[#F9F9F9] bg-[#81CD3920] hover:bg-[#81CD3950] transition-all duration-300 ease-in-out skill-variant";

const finalClasses = `${baseClasses} ${isProject ? projectClasses : skillClasses} ${className}`;
---

<span class={finalClasses}>
  <svg
    class="w-4 h-auto"
    viewBox="0 0 10 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_191_56)">
      <path
        d="M7.65625 0H2.34375C1.04933 0 0 1.04933 0 2.34375V7.65625C0 8.95067 1.04933 10 2.34375 10H7.65625C8.95067 10 10 8.95067 10 7.65625V2.34375C10 1.04933 8.95067 0 7.65625 0Z"
        fill="#242938"
      ></path>
      <path
        d="M4.68273 1.21547C4.87488 1.10551 5.12512 1.105 5.31707 1.21547C6.28277 1.76118 7.24879 2.30598 8.21434 2.852C8.39598 2.9543 8.51742 3.15641 8.51559 3.36567V6.64868C8.51695 6.86661 8.38348 7.07356 8.19188 7.17352C7.22934 7.71622 6.26727 8.25954 5.30488 8.80223C5.10883 8.91434 4.85356 8.90571 4.66356 8.78438C4.375 8.61711 4.08594 8.45063 3.79734 8.28352C3.73836 8.24836 3.67188 8.2204 3.63023 8.16321C3.66707 8.1136 3.73289 8.10743 3.78637 8.08575C3.9068 8.04743 4.01746 7.98594 4.12809 7.92629C4.15609 7.90715 4.19023 7.9145 4.21707 7.93161C4.46383 8.07309 4.70844 8.21872 4.95602 8.35883C5.00883 8.38934 5.06231 8.34883 5.10746 8.32368C6.05199 7.78981 6.9977 7.25801 7.94211 6.72399C7.97711 6.70715 7.99645 6.67 7.99359 6.63168C7.99426 5.54868 7.99375 4.46551 7.99395 3.38247C7.99793 3.33903 7.97277 3.29903 7.93344 3.28122C6.97426 2.74102 6.01551 2.20004 5.05648 1.65973C5.03987 1.64832 5.02019 1.64219 5.00003 1.64215C4.97987 1.64212 4.96017 1.64818 4.94352 1.65954C3.98445 2.20004 3.02594 2.74157 2.06688 3.28168C2.0277 3.29954 2.00141 3.33887 2.00606 3.38247C2.00625 4.46551 2.00606 5.54868 2.00606 6.63184C2.00438 6.65055 2.00849 6.66933 2.01782 6.68563C2.02715 6.70193 2.04126 6.71498 2.05824 6.72301C2.31414 6.86813 2.57039 7.01223 2.82648 7.15688C2.97078 7.2345 3.14789 7.28067 3.30688 7.22118C3.44711 7.17086 3.54543 7.0277 3.54277 6.87879C3.5441 5.80211 3.54211 4.72528 3.54375 3.64872C3.54023 3.60094 3.58559 3.56145 3.63207 3.56598C3.75504 3.56512 3.87816 3.5643 4.00113 3.56629C4.05246 3.56512 4.08777 3.61661 4.08145 3.66473C4.08094 4.74825 4.08277 5.83176 4.08063 6.91524C4.08094 7.20403 3.96231 7.51825 3.6952 7.65954C3.36617 7.82997 2.95945 7.79383 2.63438 7.6304C2.35297 7.48993 2.08438 7.32415 1.80797 7.17368C1.61586 7.07426 1.48305 6.86649 1.48441 6.64872V3.36567C1.48238 3.15208 1.60871 2.94629 1.79594 2.84547C2.75832 2.30239 3.72055 1.75883 4.68273 1.21547Z"
        fill="#81CD39"
      ></path>
      <path
        d="M5.52234 3.48971C5.94207 3.46268 6.3914 3.4737 6.7691 3.68049C7.06156 3.83893 7.22367 4.17151 7.22882 4.49639C7.22066 4.54018 7.17484 4.56436 7.133 4.56135C7.01125 4.5612 6.88941 4.56303 6.76765 4.56053C6.71597 4.56252 6.68597 4.51491 6.67949 4.46924C6.64449 4.31377 6.55968 4.15983 6.41339 4.08483C6.18879 3.97241 5.92839 3.97807 5.68347 3.98042C5.50468 3.98987 5.31242 4.00538 5.16093 4.11049C5.04464 4.19014 5.00933 4.35092 5.05082 4.48042C5.08996 4.57338 5.19726 4.60338 5.28511 4.63104C5.79093 4.76335 6.32695 4.75014 6.82312 4.92424C7.02855 4.99522 7.22949 5.13323 7.2998 5.34831C7.39179 5.63659 7.35148 5.98112 7.14636 6.21253C6.98004 6.40295 6.73781 6.50663 6.49621 6.56292C6.1748 6.6346 5.84125 6.63643 5.51484 6.6046C5.20793 6.5696 4.88851 6.48897 4.6516 6.27987C4.44898 6.10393 4.35004 5.82979 4.35984 5.56526C4.36218 5.52057 4.40668 5.4894 4.44949 5.49307C4.57211 5.4921 4.69476 5.49174 4.81738 5.49327C4.8664 5.48975 4.90269 5.5321 4.90523 5.57827C4.92781 5.72635 4.98347 5.88182 5.11265 5.9696C5.36187 6.13042 5.67464 6.1194 5.96004 6.12389C6.19648 6.11342 6.46191 6.11026 6.65484 5.95397C6.75664 5.86483 6.78679 5.71569 6.75929 5.58741C6.72949 5.47909 6.61617 5.42862 6.51886 5.39561C6.01953 5.23768 5.4775 5.29499 4.983 5.11635C4.78222 5.04542 4.58808 4.91127 4.51097 4.70502C4.40336 4.41311 4.45265 4.05202 4.67925 3.82846C4.90019 3.606 5.2191 3.52034 5.52234 3.48971Z"
        fill="#81CD39"
      ></path>
    </g>
    <defs>
      <clipPath id="clip0_191_56">
        <rect width="10" height="10" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>

  NodeJS
</span>

<style>
  .skill-variant {
    font-size: 1.05rem;
    user-select: none;
  }
  
  .skill-variant svg {
    scale: 1.1;
    margin-right: 2px;
  }
  
  @media (width < 640px) {
    .skill-variant {
      font-size: 0.875rem;
    }
    
    .skill-variant svg {
      scale: 1;
      margin-right: 0;
    }
  }
</style>
