<section class="arriba w-full h-[102dvh] bg-[#E0E0E0] dark:bg-[#1F1F1F]">
    <div class="contenedor px-4 sm:px-7 flex flex-col gap-4 h-full w-full justify-center">
      <h2 class="font-bold text-[#272727] dark:text-[#F9F9F9] w-max text-3xl sm:text-4xl">Mi experiencia</h2>

    </div>
</section>

<style>
  .arriba{
    animation: mover-arriba linear forwards;
    animation-timeline: view();
    animation-range: entry 0% entry 60%;
  }

 @keyframes mover-arriba {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100vh);
    }
  }
</style>

<script>

</script>