---
import Experiencia1 from "./Experiencia/Experiencia1.astro";
import Experiencia2 from "./Experiencia/Experiencia2.astro";
---

<section id="experiencia"
  class="arriba w-full flex bg-[#f0f0f0] dark:bg-[#1F1F1F] z-20" 
>
  <div
    class="contenedor otros py-52 px-5 flex flex-col gap-6 h-full w-full sm:justify-center relative" data-aos="fade-up"
     data-aos-duration="500" data-aos-anchor-placement="top-center"
  >
    <h2
      class="font-bold text-[#272727] dark:text-[#F9F9F9] text-3xl sm:text-4xl" data-i18n="myExperienceTitle"
    >
      Mi experiencia
    </h2>
    <ul class="flex relative flex-col w-full gap-8">
      <Experiencia1 />
      <Experiencia2 />
    </ul>
    <div
      class="absolute h-3/4 w-1 -z-10 top-72 left-7 bg-gradient-to-b from-[#055A97] from-85% to-[#E0E0E0] to-100% dark:from-[#3D7AFF] dark:to-[#1F1F1F]"
    >
    </div>
  </div>
</section>

<style>
    .arriba {
      clip-path: polygon(0 0, 100% 0, 100% 98%, 0% 100%);
    }
   

</style>

<style is:global>
  .lista-item::before {
    left: 0;
    margin-top: 5px;
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #e0e0e0;
    border: 6px solid #055a97;
  }

  html.dark .lista-item::before {
    background-color: #1f1f1f;
    border: 6px solid #3d7aff;
  }

  .lista-item:hover::before {
    cursor: pointer;
    border: 6px solid #055a97;
  }

  html.dark .lista-item:hover::before {
    cursor: pointer;
    border: 6px solid #135af3;
  }
</style>

