---

import Dise単o from "./Habilidades/Dise単o.astro";
import Desarrollo from "./Habilidades/Desarrollo.astro";
// import WordpressSkills from "./Habilidades/WordpressSkills.astro";
import Certificados from "./Habilidades/Certificados.astro";
---

<section id="habilidades" class="min-h-[100dvh] flex  bg-[#f3f3f3] dark:bg-[#2A2A2A]  minicontainer">
  <div
    class="contenedor flex flex-col justify-evenly items-center gap-24 py-28  px-4 sm:px-7"  
  >
    <div
      class="flex h-max flex-col justify-center items-center gap-7 px-4 sm:px-7" data-aos="fade-down"
    data-aos-duration="500"
    >
      <h2
        class="font-bold text-[#272727] dark:text-[#F9F9F9] text-3xl sm:text-4xl" data-i18n="mySkills"
      >
        Mis habilidades
      </h2>
      <div class="flex gap-x-5 gap-y-7 w-full flex-wrap md:flex-nowrap">
        <Dise単o/>
        <Desarrollo/>
      </div>
        <!-- <WordpressSkills /> -->
   
    </div>
    <div class="flex flex-col justify-center items-center gap-7 px-4 sm:px-7" data-aos="fade-down"
    data-aos-duration="500">
      <h2
        class="font-bold text-[#272727] dark:text-[#F9F9F9] text-3xl sm:text-4xl" data-i18n="myCertificates" 
      >
        Mis certificados
      </h2>
      <div class="flex max-[1200px]:flex-col items-center justify-center gap-4">
        <Certificados
          imagename="diploma-unlp"
          imagealt="Diploma de la Universidad Nacional de La Plata"
          href="https://drive.google.com/file/d/1H-tI7zgqbC9kbS326jn96WSHmdv7kq47/view?usp=sharing"
          title="Licenciatura en Dise単o Multimedial"
          description="Universidad Nacional de La Plata"
          traductionname="certName1"
        />
        <Certificados
          imagename="diploma-cac"
          imagealt="Diploma de Codo a Codo 4.0"
          href="https://drive.google.com/file/d/1AAV-QNQO5RCbmhzrHYKuBBhaa9ljv5ID/view?usp=sharing"
          title="Curso Full-Stack Node.js"
          description="Codo a Codo 4.0"
          traductionname="certName2"
        />
      </div>
    </div>
  </div>
</section>
