<div
  class="fixed flex w-full h-full z-110 pointer-events-none items-center justify-start min-[1450px]:justify-end"
>
  <ul
    id="menu-list"
    class="absolute min-[1450px]:pointer-events-auto min-[1450px]:opacity-100 text-right flex flex-col gap-7 min-[1450px]:gap-4 items-center max-[1450px]:bg-[#E0E0E0] max-[1450px]:dark:bg-[#1f1f1f] max-[1450px]:scale-[1.4] max-[1450px]:w-full max-[1450px]:justify-center max-[1450px]:h-full min-[1450px]:items-end opacity-0 transition-all duration-300 ease-in-out"
  >
    <li>
      <a
        href="#sobre-mi"
        class="text-[#4e4e4e] hover:text-[#272727] dark:text-[#C7C7C7] hover:dark:text-[#F9F9F9] min-[1450px]:mr-4"
        data-i18n="navMenu1">Sobre mi</a
      >
    </li>
    <li>
      <a
        href="#experiencia"
        class="text-[#4e4e4e] hover:text-[#272727] dark:text-[#C7C7C7] hover:dark:text-[#F9F9F9] min-[1450px]:mr-12"
        data-i18n="navMenu2">Experiencia</a
      >
    </li>
    <li>
      <a
        href="#proyectos"
        class="text-[#4e4e4e] hover:text-[#272727] dark:text-[#C7C7C7] hover:dark:text-[#F9F9F9] min-[1450px]:mr-14"
        data-i18n="navMenu3">Proyectos</a
      >
    </li>
    <li>
      <a
        href="#habilidades"
        class="text-[#4e4e4e] hover:text-[#272727] dark:text-[#C7C7C7] hover:dark:text-[#F9F9F9] min-[1450px]:mr-14"
        data-i18n="navMenu4">Habilidades</a
      >
    </li>
    <li>
      <a
        href="#contacto"
        class="text-[#4e4e4e] hover:text-[#272727] dark:text-[#C7C7C7] hover:dark:text-[#F9F9F9] min-[1450px]:mr-12"
        data-i18n="navMenu5">Contacto</a
      >
    </li>
    <li class="w-6 h-6 min-[1450px]:mr-4 relative">
      <a class="group cursor-pointer">
        <svg
          class="w-6 h-6 absolute right-0 transition-all duration-300 ease-in-out"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="stroke-[#C7C7C7] group-hover:stroke-[#F9F9F9] fill-[#F9F9F900] group-hover:fill-[#F9F9F9] transition-all duration-300 ease-in-out"
            d="M12 21C13.2031 21.0001 14.3941 20.7589 15.5024 20.2907C16.6108 19.8226 17.614 19.137 18.4528 18.2744C19.2916 17.4118 19.9489 16.3899 20.3859 15.2689C20.8229 14.1479 21.0307 12.9507 20.997 11.748C19.7383 12.6241 18.2268 13.0626 16.6947 12.9961C15.1626 12.9296 13.6947 12.3619 12.5166 11.3801C11.3386 10.3983 10.5155 9.05682 10.1739 7.5618C9.83235 6.06678 9.99118 4.50096 10.626 3.10498C8.38422 3.45045 6.35556 4.62964 4.94589 6.40665C3.53622 8.18365 2.84952 10.4274 3.02316 12.689C3.19681 14.9506 4.218 17.0632 5.88243 18.6042C7.54686 20.1451 9.73176 21.0008 12 21Z"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <svg
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-[#4e4e4e] group-hover:stroke-[#272727] fill-[#27272700] group-hover:fill-[#272727] w-6 h-6 absolute right-0 transition-all duration-300 ease-in-out opacity-0"
        >
          <g clip-path="url(#clip0_258_21)">
            <mask
              id="mask0_258_21"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="24"
              height="24"
            >
              <path d="M0 0H24V24H0V0Z" fill="white"></path>
            </mask>
            <g mask="url(#mask0_258_21)">
              <path
                d="M5 12H1M23 12H19M7.05 7.05L4.222 4.222M19.778 19.778L16.95 16.95M7.05 16.95L4.222 19.778M19.778 4.222L16.95 7.05M12 19V23M12 1V5M16 12C16 13.0609 15.5786 14.0783 14.8284 14.8284C14.0783 15.5786 13.0609 16 12 16C10.9391 16 9.92172 15.5786 9.17157 14.8284C8.42143 14.0783 8 13.0609 8 12C8 10.9391 8.42143 9.92172 9.17157 9.17157C9.92172 8.42143 10.9391 8 12 8C13.0609 8 14.0783 8.42143 14.8284 9.17157C15.5786 9.92172 16 10.9391 16 12Z"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_258_21">
              <rect width="24" height="24" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </a>
    </li>
  </ul>
  <a
    id="menu"
    class="min-[1450px]:h-36 min-[1450px]:w-20 w-12 h-12 absolute max-[1450px]:top-4 max-[1450px]:left-4 min-[1450px]:-right-10 pointer-events-auto bg-[#eeeeee] dark:bg-[#272727] border-1 border-[#27272750] dark:border-[#F9F9F950] hover:bg-[#e6e6e6] dark:hover:bg-[#f9f9f915] flex items-center justify-start cursor-pointer rounded-full opacity-100 min-[1450px]:opacity-80 hover:opacity-100 transition-all duration-300 ease-in-out"
  >
    <svg
      class="w-6 h-auto rotate-90 min-[1450px]:rotate-270 min-[1450px]:ml-3 ml-2 max-[1450px]:hidden"
      viewBox="0 0 9 5"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="fill-[#272727] dark:fill-[#F9F9F9]"
        d="M7.52261 0.11547L8.15615 0.749612L4.70334 4.20362C4.64801 4.2593 4.58222 4.30348 4.50975 4.33364C4.43728 4.36379 4.35957 4.37931 4.28108 4.37931C4.20258 4.37931 4.12487 4.36379 4.0524 4.33364C3.97993 4.30348 3.91414 4.2593 3.85881 4.20362L0.404205 0.749612L1.03775 0.116068L4.28018 3.3579L7.52261 0.11547Z"
      ></path>
    </svg>
    <div class="flex justify-center items-center w-full min-[1450px]:hidden">
      <svg
        class="menusvg w-8 h-auto absolute transition-all duration-300 ease-in-out"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="fill-[#272727] dark:fill-[#F9F9F9]"
          d="M4 18C3.71667 18 3.47933 17.904 3.288 17.712C3.09667 17.52 3.00067 17.2827 3 17C2.99933 16.7173 3.09533 16.48 3.288 16.288C3.48067 16.096 3.718 16 4 16H20C20.2833 16 20.521 16.096 20.713 16.288C20.905 16.48 21.0007 16.7173 21 17C20.9993 17.2827 20.9033 17.5203 20.712 17.713C20.5207 17.9057 20.2833 18.0013 20 18H4ZM4 13C3.71667 13 3.47933 12.904 3.288 12.712C3.09667 12.52 3.00067 12.2827 3 12C2.99933 11.7173 3.09533 11.48 3.288 11.288C3.48067 11.096 3.718 11 4 11H20C20.2833 11 20.521 11.096 20.713 11.288C20.905 11.48 21.0007 11.7173 21 12C20.9993 12.2827 20.9033 12.5203 20.712 12.713C20.5207 12.9057 20.2833 13.0013 20 13H4ZM4 8C3.71667 8 3.47933 7.904 3.288 7.712C3.09667 7.52 3.00067 7.28267 3 7C2.99933 6.71733 3.09533 6.48 3.288 6.288C3.48067 6.096 3.718 6 4 6H20C20.2833 6 20.521 6.096 20.713 6.288C20.905 6.48 21.0007 6.71733 21 7C20.9993 7.28267 20.9033 7.52033 20.712 7.713C20.5207 7.90567 20.2833 8.00133 20 8H4Z"
        ></path>
      </svg>
      <svg
        class="closesvg w-8 h-auto absolute opacity-0 transition-all duration-300 ease-in-out"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="fill-[#272727] dark:fill-[#F9F9F9]"
          d="M12 13.4L7.1 18.3C6.91667 18.4834 6.68334 18.575 6.4 18.575C6.11667 18.575 5.88334 18.4834 5.7 18.3C5.51667 18.1167 5.425 17.8834 5.425 17.6C5.425 17.3167 5.51667 17.0834 5.7 16.9L10.6 12L5.7 7.10005C5.51667 6.91672 5.425 6.68338 5.425 6.40005C5.425 6.11672 5.51667 5.88338 5.7 5.70005C5.88334 5.51672 6.11667 5.42505 6.4 5.42505C6.68334 5.42505 6.91667 5.51672 7.1 5.70005L12 10.6L16.9 5.70005C17.0833 5.51672 17.3167 5.42505 17.6 5.42505C17.8833 5.42505 18.1167 5.51672 18.3 5.70005C18.4833 5.88338 18.575 6.11672 18.575 6.40005C18.575 6.68338 18.4833 6.91672 18.3 7.10005L13.4 12L18.3 16.9C18.4833 17.0834 18.575 17.3167 18.575 17.6C18.575 17.8834 18.4833 18.1167 18.3 18.3C18.1167 18.4834 17.8833 18.575 17.6 18.575C17.3167 18.575 17.0833 18.4834 16.9 18.3L12 13.4Z"
        ></path>
      </svg>
    </div>
  </a>
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    if (!supportsScrollDrivenAnimation) {
      const contactLink = document.querySelector("a[href='#contacto']");
      if (contactLink) {
        contactLink.addEventListener("click", (e) => {
          e.preventDefault();
          window.scrollTo({
            top: document.documentElement.scrollHeight,
          });
        });
      }
    } else {
      document
        .querySelector("a[href='#experiencia']")
        .addEventListener("click", (e) => {
          e.preventDefault();
          const target = document.querySelector(".arriba");
          if (!target) return;

          const alturaDiv = target.offsetHeight;

          const posicionFinal = target.offsetTop - alturaDiv * 0.45;

          window.scrollTo({ top: posicionFinal });
        });
    }
  });

  document.addEventListener("DOMContentLoaded", () => {
    const htmlElement = document.documentElement;
const darkModeToggle = document.querySelector("li:last-child a");
const moonIcon = darkModeToggle.querySelector("svg:nth-child(1)");
const sunIcon = darkModeToggle.querySelector("svg:nth-child(2)");

const updateIcons = (isDark) => {
  if (isDark) {
    moonIcon.classList.remove("opacity-0");
    sunIcon.classList.add("opacity-0");
  } else {
    moonIcon.classList.add("opacity-0");
    sunIcon.classList.remove("opacity-0");
  }
};

const changeFavicon = (theme) => {
  const faviconLinks = document.querySelectorAll('link[rel="icon"], link[rel="apple-touch-icon"], link[rel="manifest"]');
  
  faviconLinks.forEach(link => {
    link.href = link.href.replace(/favicon_(dark|light)/, `favicon_${theme}`);
  });
};

const isDarkMode =
  localStorage.getItem("theme") === "dark" ||
  !localStorage.getItem("theme");

if (isDarkMode) {
  htmlElement.classList.add("dark");
  changeFavicon('dark'); 
} else {
  htmlElement.classList.remove("dark");
  changeFavicon('light');
}

updateIcons(isDarkMode);

darkModeToggle.addEventListener("click", () => {
  const isNowDark = !htmlElement.classList.contains("dark");
  htmlElement.classList.toggle("dark");
  
  changeFavicon(isNowDark ? 'dark' : 'light');

  localStorage.setItem("theme", isNowDark ? "dark" : "light");

  updateIcons(isNowDark);


      if (!supportsScrollDrivenAnimation) {
        const triggerPosition = window.innerHeight * 0.5;
        if (scrollY >= triggerPosition) {
          if (document.documentElement.classList.contains("dark")) {
            document.querySelector(".text-banner").style.backgroundColor =
              "#2f2f2f";
          } else {
            document.querySelector(".text-banner").style.backgroundColor =
              "#d0d0d0";
          }
        } else {
          if (document.documentElement.classList.contains("dark")) {
            document.querySelector(".text-banner").style.backgroundColor =
              "#1f1f1f";
          } else {
            document.querySelector(".text-banner").style.backgroundColor =
              "#e0e0e0";
          }
        }
      }
    });

    const menuButton = document.getElementById("menu");
    const menuList = document.getElementById("menu-list");
    const menuMobile = document.querySelector(".menusvg");
    const closeMobile = document.querySelector(".closesvg");

    menuButton.addEventListener("click", () => {
      menuButton
        .querySelector("svg")
        .classList.toggle("min-[1450px]:rotate-90");
      menuButton
        .querySelector("svg")
        .classList.toggle("min-[1450px]:rotate-270");
      menuButton.querySelector("svg").classList.toggle("min-[1450px]:ml-3");
      menuList.classList.toggle("max-[1450px]:pointer-events-auto");
      menuList.classList.toggle("max-[1450px]:opacity-100");
      menuList.classList.toggle("min-[1450px]:pointer-events-auto");
      menuList.classList.toggle("min-[1450px]:opacity-100");
      menuMobile.classList.toggle("opacity-0");
      closeMobile.classList.toggle("opacity-0");
    });

    if (window.innerWidth < 1450) {
      const anchors = menuList.querySelectorAll("a"); // Obtiene todos los <a>
      const anchorsExceptLast = Array.from(anchors).slice(0, -1); // Excluye el último

      anchorsExceptLast.forEach((a) => {
        a.addEventListener("click", () => {
          menuMobile.classList.toggle("opacity-0");
          closeMobile.classList.toggle("opacity-0");
          menuList.classList.toggle("max-[1450px]:pointer-events-auto");
          menuList.classList.toggle("max-[1450px]:opacity-100");
        });
      });
    }
  });
</script>
