<div
  class="fixed flex w-full h-full z-110 pointer-events-none items-center justify-start min-[1450px]:justify-end"
>
  <ul
    id="menu-list"
    class="absolute min-[1450px]:pointer-events-auto min-[1450px]:opacity-100 text-right flex flex-col gap-7 min-[1450px]:gap-4 items-center max-[1450px]:bg-[#E0E0E0] max-[1450px]:dark:bg-[#1f1f1f] max-[1450px]:scale-[1.4] max-[1450px]:w-full max-[1450px]:justify-center max-[1450px]:h-full min-[1450px]:items-end opacity-0 transition-all duration-300 ease-in-out"
  >
    <li>
      <a
        href="#sobre-mi"
        class="text-[#4e4e4e] hover:text-[#272727] dark:text-[#C7C7C7] hover:dark:text-[#F9F9F9] min-[1450px]:mr-4"
        data-i18n="navMenu1">Sobre mi</a
      >
    </li>
    <li>
      <a
        href="#experiencia"
        class="text-[#4e4e4e] hover:text-[#272727] dark:text-[#C7C7C7] hover:dark:text-[#F9F9F9] min-[1450px]:mr-12"
        data-i18n="navMenu2">Experiencia</a
      >
    </li>
    <li>
      <a
        href="#proyectos"
        class="text-[#4e4e4e] hover:text-[#272727] dark:text-[#C7C7C7] hover:dark:text-[#F9F9F9] min-[1450px]:mr-14"
        data-i18n="navMenu3">Proyectos</a
      >
    </li>
    <li>
      <a
        href="#habilidades"
        class="text-[#4e4e4e] hover:text-[#272727] dark:text-[#C7C7C7] hover:dark:text-[#F9F9F9] min-[1450px]:mr-14"
        data-i18n="navMenu4">Habilidades</a
      >
    </li>
    <li>
      <a
        href="#contacto"
        class="text-[#4e4e4e] hover:text-[#272727] dark:text-[#C7C7C7] hover:dark:text-[#F9F9F9] min-[1450px]:mr-12"
        data-i18n="navMenu5">Contacto</a
      >
    </li>
    <li class="relative min-[1450px]:mr-4">
      <button
        id="toggle-dark"
        class="p-2 transition-all duration-300 ease-in-out group cursor-pointer"
        aria-label="Cambiar tema"
      >
        <span
          id="icon-sun"
          class="block dark:hidden transition-all duration-300 ease-in-out"
        >
          <svg
            class="w-6 h-6 text-[#4e4e4e] dark:text-[#C7C7C7] group-hover:text-[#272727] dark:group-hover:text-[#F9F9F9]"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 5V3m0 18v-2M7.05 7.05 5.636 5.636m12.728 
             12.728L16.95 16.95M5 12H3m18 0h-2M7.05 
             16.95l-1.414 1.414M18.364 5.636 16.95 
             7.05M16 12a4 4 0 1 1-8 0 4 4 
             0 0 1 8 0Z"
            ></path>
          </svg>
        </span>

        <span
          id="icon-moon"
          class="hidden dark:block transition-all duration-300 ease-in-out"
        >
          <svg
            class="w-6 h-6 text-[#4e4e4e] dark:text-[#C7C7C7] group-hover:text-[#272727] dark:group-hover:text-[#F9F9F9]"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 
             1.911-.5 3a9 9 0 0 0 9 9c.239 0 
             .254.018.488 0A9.004 9.004 0 0 1 
             12 21Z"
            ></path>
          </svg>
        </span>
      </button>
    </li>
  </ul>
  <a
    id="menu"
    class="min-[1450px]:h-36 min-[1450px]:w-20 w-12 h-12 absolute max-[1450px]:top-4 max-[1450px]:left-4 min-[1450px]:-right-10 pointer-events-auto bg-[#eeeeee] dark:bg-[#272727] border-1 border-[#27272750] dark:border-[#F9F9F950] hover:bg-[#e6e6e6] dark:hover:bg-[#f9f9f915] flex items-center justify-start cursor-pointer rounded-full opacity-100 min-[1450px]:opacity-80 hover:opacity-100 transition-all duration-300 ease-in-out"
  >
    <svg
      class="w-6 h-auto rotate-90 min-[1450px]:rotate-270 min-[1450px]:ml-3 ml-2 max-[1450px]:hidden"
      viewBox="0 0 9 5"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="fill-[#272727] dark:fill-[#F9F9F9]"
        d="M7.52261 0.11547L8.15615 0.749612L4.70334 4.20362C4.64801 4.2593 4.58222 4.30348 4.50975 4.33364C4.43728 4.36379 4.35957 4.37931 4.28108 4.37931C4.20258 4.37931 4.12487 4.36379 4.0524 4.33364C3.97993 4.30348 3.91414 4.2593 3.85881 4.20362L0.404205 0.749612L1.03775 0.116068L4.28018 3.3579L7.52261 0.11547Z"
      ></path>
    </svg>
    <div class="flex justify-center items-center w-full min-[1450px]:hidden">
      <svg
        class="menusvg w-8 h-auto absolute transition-all duration-300 ease-in-out"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="fill-[#272727] dark:fill-[#F9F9F9]"
          d="M4 18C3.71667 18 3.47933 17.904 3.288 17.712C3.09667 17.52 3.00067 17.2827 3 17C2.99933 16.7173 3.09533 16.48 3.288 16.288C3.48067 16.096 3.718 16 4 16H20C20.2833 16 20.521 16.096 20.713 16.288C20.905 16.48 21.0007 16.7173 21 17C20.9993 17.2827 20.9033 17.5203 20.712 17.713C20.5207 17.9057 20.2833 18.0013 20 18H4ZM4 13C3.71667 13 3.47933 12.904 3.288 12.712C3.09667 12.52 3.00067 12.2827 3 12C2.99933 11.7173 3.09533 11.48 3.288 11.288C3.48067 11.096 3.718 11 4 11H20C20.2833 11 20.521 11.096 20.713 11.288C20.905 11.48 21.0007 11.7173 21 12C20.9993 12.2827 20.9033 12.5203 20.712 12.713C20.5207 12.9057 20.2833 13.0013 20 13H4ZM4 8C3.71667 8 3.47933 7.904 3.288 7.712C3.09667 7.52 3.00067 7.28267 3 7C2.99933 6.71733 3.09533 6.48 3.288 6.288C3.48067 6.096 3.718 6 4 6H20C20.2833 6 20.521 6.096 20.713 6.288C20.905 6.48 21.0007 6.71733 21 7C20.9993 7.28267 20.9033 7.52033 20.712 7.713C20.5207 7.90567 20.2833 8.00133 20 8H4Z"
        ></path>
      </svg>
      <svg
        class="closesvg w-8 h-auto absolute opacity-0 transition-all duration-300 ease-in-out"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="fill-[#272727] dark:fill-[#F9F9F9]"
          d="M12 13.4L7.1 18.3C6.91667 18.4834 6.68334 18.575 6.4 18.575C6.11667 18.575 5.88334 18.4834 5.7 18.3C5.51667 18.1167 5.425 17.8834 5.425 17.6C5.425 17.3167 5.51667 17.0834 5.7 16.9L10.6 12L5.7 7.10005C5.51667 6.91672 5.425 6.68338 5.425 6.40005C5.425 6.11672 5.51667 5.88338 5.7 5.70005C5.88334 5.51672 6.11667 5.42505 6.4 5.42505C6.68334 5.42505 6.91667 5.51672 7.1 5.70005L12 10.6L16.9 5.70005C17.0833 5.51672 17.3167 5.42505 17.6 5.42505C17.8833 5.42505 18.1167 5.51672 18.3 5.70005C18.4833 5.88338 18.575 6.11672 18.575 6.40005C18.575 6.68338 18.4833 6.91672 18.3 7.10005L13.4 12L18.3 16.9C18.4833 17.0834 18.575 17.3167 18.575 17.6C18.575 17.8834 18.4833 18.1167 18.3 18.3C18.1167 18.4834 17.8833 18.575 17.6 18.575C17.3167 18.575 17.0833 18.4834 16.9 18.3L12 13.4Z"
        ></path>
      </svg>
    </div>
  </a>
</div>

<style is:global>
  
   html.disable-transitions *,
  html.disable-transitions *::before,
  html.disable-transitions *::after {
    transition: none !important;
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    
      const contactLink = document.querySelector("a[href='#contacto']");
      if (contactLink) {
        contactLink.addEventListener("click", (e) => {
          e.preventDefault();
          window.scrollTo({ top: document.documentElement.scrollHeight });
        });
      }
    

    const html = document.documentElement;
    const button = document.getElementById("toggle-dark");

    const changeFavicon = (theme) => {
      const faviconLinks = document.querySelectorAll(
        'link[rel="icon"], link[rel="apple-touch-icon"], link[rel="manifest"]'
      );
      faviconLinks.forEach((link) => {
        link.href = link.href.replace(/favicon_(dark|light)/, `favicon_${theme}`);
      });
    };

    const savedTheme = localStorage.getItem("theme");
    const isDarkMode = savedTheme === "dark" || !savedTheme;

    if (isDarkMode) {
      html.classList.add("dark");
      changeFavicon("dark");
    } else {
      html.classList.remove("dark");
      changeFavicon("light");
    }

    button.addEventListener("click", () => {
      html.classList.add("disable-transitions");

      const isDark = html.classList.toggle("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
      changeFavicon(isDark ? "dark" : "light");

      setTimeout(() => {
        html.classList.remove("disable-transitions");
      }, 100);
    });

    const menuButton = document.getElementById("menu");
    const menuList = document.getElementById("menu-list");
    const menuMobile = document.querySelector(".menusvg");
    const closeMobile = document.querySelector(".closesvg");

    menuButton.addEventListener("click", () => {
      menuButton.querySelector("svg").classList.toggle("min-[1450px]:rotate-90");
      menuButton.querySelector("svg").classList.toggle("min-[1450px]:rotate-270");
      menuButton.querySelector("svg").classList.toggle("min-[1450px]:ml-3");
      menuList.classList.toggle("max-[1450px]:pointer-events-auto");
      menuList.classList.toggle("max-[1450px]:opacity-100");
      menuList.classList.toggle("min-[1450px]:pointer-events-auto");
      menuList.classList.toggle("min-[1450px]:opacity-100");
      menuMobile.classList.toggle("opacity-0");
      closeMobile.classList.toggle("opacity-0");
    });

    if (window.innerWidth < 1450) {
      const anchors = menuList.querySelectorAll("a");
      anchors.forEach((a) => {
        a.addEventListener("click", () => {
          menuMobile.classList.toggle("opacity-0");
          closeMobile.classList.toggle("opacity-0");
          menuList.classList.toggle("max-[1450px]:pointer-events-auto");
          menuList.classList.toggle("max-[1450px]:opacity-100");
        });
      });
    }
  });
</script>
