---
import BBRacingParts from "./Proyectos/BBRacingParts.astro";
import BonteDeco from "./Proyectos/BonteDeco.astro";
import DobleG from "./Proyectos/DobleG.astro";
import KZGroup from "./Proyectos/KZGroup.astro";
import AxelFauth from "./Proyectos/AxelFauth.astro";
import BoxedCat from "./Proyectos/BoxedCat.astro";
---

<section
  id="proyectos"
  class="w-full bg-[#f7f7f7] dark:bg-[#303030] relative -z-20 pb-12"
>
  <div
    class="contenedor min-h-[20dvh] bg-[#f7f7f7] dark:bg-[#303030] flex items-center justify-center px-4 sm:px-7"
  >
    <h2
      class="font-bold text-[#272727] dark:text-[#F9F9F9] text-3xl sm:text-4xl" data-i18n="myProjects"
    >
      Mis proyectos
    </h2>
  </div>

  <section id="sectionPin">
    <div class="pin-wrap-sticky contenedor overflow-x-hidden">
      <div class="pin-wrap flex">
        <KZGroup />
        <BonteDeco />
        <DobleG />
        <AxelFauth />
        <!-- <BBRacingParts /> -->
        <BoxedCat />
        <!-- <FreneticComics /> -->
        <!-- <Portfoliov1 /> -->
      </div>
    </div>
  </section>
</section>

<style>
  @supports (animation-timeline: view()) {
    @keyframes move {
      to {
        transform: translateX(calc(-100% + min(1200px, 100vw)));
      }
    }

    #sectionPin {
      height: 500vh;
      overflow: visible;
      view-timeline-name: --section-pin-tl;
      view-timeline-axis: block;
    }

    .pin-wrap-sticky {
      height: 99vh;
      width: 100vw;
      position: sticky;
      top: 0;
      width: 100vw;
    }

    .pin-wrap {
      height: 99dvh;
      width: calc(min(1200px, 100vw) * 5);
      will-change: transform;
      animation: linear move forwards;
      animation-timeline: --section-pin-tl;
      animation-range: contain 0% contain 100%;
    }

    @media (width < 1200px) {
      .pin-wrap-sticky {
        overflow-x: hidden;
      }
    }

    @media (width < 768px) {
      #sectionPin {
      height: 500vw;
    }
    }

  }

  @supports not (animation-timeline: view()) {
    .carousel-indicator {
      display: none;
    }

    .pin-wrap {
      flex-direction: column;
      gap: 20px;
      padding-bottom: 9rem;
    }
    @media (width < 768px){
      .pin-wrap {
        gap: 0;
        padding-bottom: 0;
      }
    }

  }

  media
</style>

<style is:global>
  @supports not (animation-timeline: view()) {
    .pin-item {
      height: 90dvh;
    }

    .backgroundDiv {
      height: auto;
    }

    @media (width < 768px){

      .pin-item {
        min-height: 650px;
        height: auto;
    }

    .pin-item .source-code{
        width: 1.375rem !important;
    }


    .pin-wrap span{
      height: 100%;
    }
    
      .div-adicional{
        display: none;
      }

      .image-container {
        justify-content: space-evenly;
      }
    }

    @media (width >= 768px) and (height < 650px) {
      .div-adicional{
        display: none;
      }
    }

  }

  @supports (animation-timeline: view()) {
    @media (width < 768px){
    .pin-item {
      padding-top: 2dvh;
      height: 96dvh;
    }
  }

  }
</style>
