<div class="absolute inline-block z-40 right-[5%] top-[5%]">
  <button
    id="language-selector"
    class="w-full sm:w-36 bg-[url(/arrow-light.svg)] dark:bg-[url(/arrow.svg)] bg-[#eeeeee] dark:bg-[#151515] border-1 text-[#272727] dark:text-[#F9F9F9] hover:bg-[#e6e6e6] dark:hover:bg-[#f9f9f915] rounded-2xl py-2 pl-4 pr-10 text-left flex justify-start gap-2 items-center cursor-pointer transition-all duration-300 ease-in-out"
    ><svg
      width="18"
      height="18"
      viewBox="0 0 18 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M18 13.5C18 14.0304 17.7893 14.5391 17.4142 14.9142C17.0391 15.2893 16.5304 15.5 16 15.5H2C1.46957 15.5 0.960859 15.2893 0.585786 14.9142C0.210714 14.5391 0 14.0304 0 13.5V4.5C0 3.96957 0.210714 3.46086 0.585786 3.08579C0.960859 2.71071 1.46957 2.5 2 2.5H16C16.5304 2.5 17.0391 2.71071 17.4142 3.08579C17.7893 3.46086 18 3.96957 18 4.5V13.5Z"
        fill="#75AADB"></path>
      <path d="M0 6.5H18V11.5H0V6.5Z" fill="#EEEEEE"></path>
      <path
        d="M9 6.5L9.244 7.774L9.957 6.6905L9.6945 7.9605L10.7675 7.232L10.039 8.3055L11.3095 8.0435L10.226 8.756L11.5 9L10.226 9.244L11.3095 9.957L10.039 9.6945L10.7675 10.7675L9.6945 10.039L9.957 11.3095L9.244 10.226L9 11.5L8.756 10.226L8.0435 11.3095L8.3055 10.039L7.232 10.7675L7.9605 9.6945L6.6905 9.957L7.774 9.244L6.5 9L7.774 8.756L6.6905 8.0435L7.9605 8.3055L7.232 7.232L8.3055 7.9605L8.0435 6.6905L8.756 7.774L9 6.5Z"
        fill="#FCBF49"></path>
      <path
        d="M9 7.165L9.121 7.7975L9.179 8.1L9.3485 7.843L9.7025 7.305L9.572 7.9355L9.5095 8.2375L9.7645 8.0645L10.2975 7.703L9.936 8.236L9.763 8.491L10.0645 8.4285L10.6955 8.2985L10.1575 8.6525L9.9 8.821L10.2025 8.879L10.835 9L10.2025 9.121L9.9 9.179L10.157 9.3485L10.695 9.7025L10.064 9.572L9.762 9.5095L9.935 9.7645L10.2965 10.297L9.764 9.9355L9.509 9.7625L9.5715 10.0645L9.702 10.6955L9.348 10.1575L9.179 9.9L9.121 10.2025L9 10.835L8.879 10.2025L8.821 9.9L8.6515 10.1575L8.2975 10.6955L8.4275 10.0645L8.49 9.763L8.235 9.936L7.702 10.2975L8.0635 9.7645L8.2365 9.5095L7.9345 9.572L7.304 9.7025L7.842 9.3485L8.099 9.179L7.7965 9.121L7.165 9L7.7975 8.879L8.1 8.821L7.8425 8.6515L7.3045 8.2975L7.935 8.4275L8.2365 8.49L8.0635 8.235L7.7015 7.702L8.2345 8.064L8.4895 8.237L8.427 7.9355L8.297 7.305L8.651 7.843L8.8205 8.1005L8.8785 7.798L9 7.165ZM9 6.5L8.756 7.774L8.0435 6.6905L8.3055 7.961L7.232 7.2325L7.9605 8.306L6.6905 8.044L7.774 8.7565L6.5 9L7.774 9.244L6.6905 9.957L7.9605 9.6945L7.232 10.7675L8.3055 10.039L8.0435 11.3095L8.756 10.226L9 11.5L9.244 10.226L9.957 11.3095L9.6945 10.039L10.7675 10.7675L10.039 9.6945L11.3095 9.957L10.226 9.244L11.5 9L10.226 8.756L11.3095 8.0435L10.039 8.3055L10.7675 7.232L9.6945 7.9605L9.957 6.69L9.244 7.7735L9 6.5Z"
        fill="#843511"></path>
      <path
        d="M9 10C9.55228 10 10 9.55228 10 9C10 8.44772 9.55228 8 9 8C8.44772 8 8 8.44772 8 9C8 9.55228 8.44772 10 9 10Z"
        fill="#FCBF49"></path>
      <path
        d="M9 10.0625C8.414 10.0625 7.9375 9.586 7.9375 9C7.9375 8.414 8.414 7.9375 9 7.9375C9.586 7.9375 10.0625 8.414 10.0625 9C10.0625 9.586 9.586 10.0625 9 10.0625ZM9 8.0625C8.483 8.0625 8.0625 8.483 8.0625 9C8.0625 9.517 8.483 9.9375 9 9.9375C9.517 9.9375 9.9375 9.517 9.9375 9C9.9375 8.483 9.517 8.0625 9 8.0625Z"
        fill="#843511"></path>
      <path
        d="M8.9005 8.887C8.9005 8.9645 8.77 9.027 8.609 9.027C8.4475 9.027 8.317 8.9645 8.317 8.887C8.317 8.8095 8.4475 8.747 8.609 8.747C8.7705 8.747 8.9005 8.8095 8.9005 8.887ZM9.677 8.875C9.677 8.7945 9.544 8.729 9.38 8.729C9.216 8.729 9.083 8.794 9.083 8.875C9.083 8.956 9.216 9.021 9.38 9.021C9.5445 9.021 9.677 8.9555 9.677 8.875Z"
        fill="#C16540"></path>
      <path
        d="M8.7315 9.43701C8.7315 9.37401 8.8545 9.32251 9.0055 9.32251C9.1565 9.32251 9.2795 9.37351 9.2795 9.43701C9.2795 9.50001 9.1565 9.55151 9.0055 9.55151C8.8545 9.55151 8.7315 9.50001 8.7315 9.43701Z"
        fill="#ED8662"></path>
    </svg>
    Español
  </button>

  <div
    id="language-options"
    class="hidden absolute mt-2 w-30 sm:w-full right-0 bg-[#f1f1f1] dark:bg-[#242424] rounded-2xl shadow-lg z-10 overflow-hidden transition-all duration-300 ease-in-out"
  >
    <button
      data-lang="es"
      class="w-full text-[#272727] dark:text-[#F9F9F9] hover:bg-[#27272710] dark:hover:bg-[#f9f9f915] py-2 px-4 text-left cursor-pointer flex justify-start gap-2 items-center transition-all duration-300 ease-in-out"
      ><svg
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 13.5C18 14.0304 17.7893 14.5391 17.4142 14.9142C17.0391 15.2893 16.5304 15.5 16 15.5H2C1.46957 15.5 0.960859 15.2893 0.585786 14.9142C0.210714 14.5391 0 14.0304 0 13.5V4.5C0 3.96957 0.210714 3.46086 0.585786 3.08579C0.960859 2.71071 1.46957 2.5 2 2.5H16C16.5304 2.5 17.0391 2.71071 17.4142 3.08579C17.7893 3.46086 18 3.96957 18 4.5V13.5Z"
          fill="#75AADB"></path>
        <path d="M0 6.5H18V11.5H0V6.5Z" fill="#EEEEEE"></path>
        <path
          d="M9 6.5L9.244 7.774L9.957 6.6905L9.6945 7.9605L10.7675 7.232L10.039 8.3055L11.3095 8.0435L10.226 8.756L11.5 9L10.226 9.244L11.3095 9.957L10.039 9.6945L10.7675 10.7675L9.6945 10.039L9.957 11.3095L9.244 10.226L9 11.5L8.756 10.226L8.0435 11.3095L8.3055 10.039L7.232 10.7675L7.9605 9.6945L6.6905 9.957L7.774 9.244L6.5 9L7.774 8.756L6.6905 8.0435L7.9605 8.3055L7.232 7.232L8.3055 7.9605L8.0435 6.6905L8.756 7.774L9 6.5Z"
          fill="#FCBF49"></path>
        <path
          d="M9 7.165L9.121 7.7975L9.179 8.1L9.3485 7.843L9.7025 7.305L9.572 7.9355L9.5095 8.2375L9.7645 8.0645L10.2975 7.703L9.936 8.236L9.763 8.491L10.0645 8.4285L10.6955 8.2985L10.1575 8.6525L9.9 8.821L10.2025 8.879L10.835 9L10.2025 9.121L9.9 9.179L10.157 9.3485L10.695 9.7025L10.064 9.572L9.762 9.5095L9.935 9.7645L10.2965 10.297L9.764 9.9355L9.509 9.7625L9.5715 10.0645L9.702 10.6955L9.348 10.1575L9.179 9.9L9.121 10.2025L9 10.835L8.879 10.2025L8.821 9.9L8.6515 10.1575L8.2975 10.6955L8.4275 10.0645L8.49 9.763L8.235 9.936L7.702 10.2975L8.0635 9.7645L8.2365 9.5095L7.9345 9.572L7.304 9.7025L7.842 9.3485L8.099 9.179L7.7965 9.121L7.165 9L7.7975 8.879L8.1 8.821L7.8425 8.6515L7.3045 8.2975L7.935 8.4275L8.2365 8.49L8.0635 8.235L7.7015 7.702L8.2345 8.064L8.4895 8.237L8.427 7.9355L8.297 7.305L8.651 7.843L8.8205 8.1005L8.8785 7.798L9 7.165ZM9 6.5L8.756 7.774L8.0435 6.6905L8.3055 7.961L7.232 7.2325L7.9605 8.306L6.6905 8.044L7.774 8.7565L6.5 9L7.774 9.244L6.6905 9.957L7.9605 9.6945L7.232 10.7675L8.3055 10.039L8.0435 11.3095L8.756 10.226L9 11.5L9.244 10.226L9.957 11.3095L9.6945 10.039L10.7675 10.7675L10.039 9.6945L11.3095 9.957L10.226 9.244L11.5 9L10.226 8.756L11.3095 8.0435L10.039 8.3055L10.7675 7.232L9.6945 7.9605L9.957 6.69L9.244 7.7735L9 6.5Z"
          fill="#843511"></path>
        <path
          d="M9 10C9.55228 10 10 9.55228 10 9C10 8.44772 9.55228 8 9 8C8.44772 8 8 8.44772 8 9C8 9.55228 8.44772 10 9 10Z"
          fill="#FCBF49"></path>
        <path
          d="M9 10.0625C8.414 10.0625 7.9375 9.586 7.9375 9C7.9375 8.414 8.414 7.9375 9 7.9375C9.586 7.9375 10.0625 8.414 10.0625 9C10.0625 9.586 9.586 10.0625 9 10.0625ZM9 8.0625C8.483 8.0625 8.0625 8.483 8.0625 9C8.0625 9.517 8.483 9.9375 9 9.9375C9.517 9.9375 9.9375 9.517 9.9375 9C9.9375 8.483 9.517 8.0625 9 8.0625Z"
          fill="#843511"></path>
        <path
          d="M8.9005 8.887C8.9005 8.9645 8.77 9.027 8.609 9.027C8.4475 9.027 8.317 8.9645 8.317 8.887C8.317 8.8095 8.4475 8.747 8.609 8.747C8.7705 8.747 8.9005 8.8095 8.9005 8.887ZM9.677 8.875C9.677 8.7945 9.544 8.729 9.38 8.729C9.216 8.729 9.083 8.794 9.083 8.875C9.083 8.956 9.216 9.021 9.38 9.021C9.5445 9.021 9.677 8.9555 9.677 8.875Z"
          fill="#C16540"></path>
        <path
          d="M8.7315 9.43701C8.7315 9.37401 8.8545 9.32251 9.0055 9.32251C9.1565 9.32251 9.2795 9.37351 9.2795 9.43701C9.2795 9.50001 9.1565 9.55151 9.0055 9.55151C8.8545 9.55151 8.7315 9.50001 8.7315 9.43701Z"
          fill="#ED8662"></path>
      </svg>Español</button
    >
    <button
      data-lang="en"
      class="w-full text-[#272727] dark:text-[#F9F9F9] hover:bg-[#27272710] dark:hover:bg-[#f9f9f915] py-2 px-4 text-left cursor-pointer flex justify-start gap-2 items-center transition-all duration-300 ease-in-out"
      ><svg
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_252_26)">
          <path
            d="M0 4.5295V6.5H2.814L0 4.5295ZM2.332 15.5H6.5V12.5815L2.332 15.5ZM11.5 12.582V15.5H15.6675L11.5 12.582ZM0 11.5V13.4705L2.815 11.5H0ZM15.6685 2.5H11.5V5.4185L15.6685 2.5ZM18 13.471V11.5H15.1845L18 13.471ZM18 6.5V4.5295L15.1855 6.5H18ZM6.5 2.5H2.332L6.5 5.4185V2.5Z"
            fill="#00247D"></path>
          <path
            d="M12.57 11.5L17.426 14.9005C17.6627 14.6559 17.8331 14.3549 17.921 14.026L14.3135 11.5H12.57ZM6.5 11.5H5.4295L0.573999 14.9C0.834499 15.165 1.1685 15.3545 1.543 15.4425L6.5 11.9715V11.5ZM11.5 6.5H12.5705L17.426 3.1C17.1608 2.8314 16.8251 2.64332 16.4575 2.5575L11.5 6.0285V6.5ZM5.4295 6.5L0.573999 3.1C0.337083 3.34456 0.16653 3.64557 0.0784988 3.9745L3.686 6.5H5.4295Z"
            fill="#CF1B2B"></path>
          <path
            d="M18 10.5H10.5V15.5H11.5V12.582L15.6675 15.5H16C16.2656 15.4998 16.5285 15.4466 16.7733 15.3437C17.0181 15.2408 17.24 15.0901 17.426 14.9005L12.57 11.5H14.3135L17.921 14.026C17.9675 13.8575 18 13.683 18 13.5V13.471L15.1845 11.5H18V10.5ZM0 10.5V11.5H2.815L0 13.4705V13.5C0 14.0455 0.2195 14.539 0.574 14.9L5.4295 11.5H6.5V11.9715L1.543 15.442C1.69 15.477 1.842 15.5 2 15.5H2.332L6.5 12.5815V15.5H7.5V10.5H0ZM18 4.5C18.0005 3.97596 17.7942 3.47289 17.426 3.1L12.5705 6.5H11.5V6.0285L16.4575 2.5575C16.3077 2.52076 16.1542 2.50146 16 2.5H15.6685L11.5 5.4185V2.5H10.5V7.5H18V6.5H15.1855L18 4.5295V4.5ZM6.5 2.5V5.4185L2.332 2.5H2C1.73437 2.5003 1.47147 2.55352 1.22664 2.65653C0.9818 2.75955 0.759938 2.91031 0.574 3.1L5.4295 6.5H3.686L0.0785 3.9745C0.0290784 4.1454 0.00267879 4.32212 0 4.5L0 4.5295L2.814 6.5H0V7.5H7.5V2.5H6.5Z"
            fill="#EEEEEE"></path>
          <path
            d="M10.5 7.5V2.5H7.5V7.5H0V10.5H7.5V15.5H10.5V10.5H18V7.5H10.5Z"
            fill="#CF1B2B"></path>
        </g>
        <defs>
          <clipPath id="clip0_252_26">
            <rect width="18" height="18" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
      English</button
    >
  </div>
</div>

<style>
  #language-selector {
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 1rem;
  }
</style>

<script is:inline>
  const selectorButton = document.getElementById("language-selector");
  const optionsDiv = document.getElementById("language-options");
  const selectButtons = optionsDiv.querySelectorAll("button");

  selectorButton.addEventListener("click", (event) => {
    event.stopPropagation();
    optionsDiv.classList.toggle("hidden");
  });

  selectButtons.forEach((button) => {
    button.addEventListener("click", (event) => {
      const lang = event.target.getAttribute("data-lang");
      localStorage.setItem("lang", lang);
      document.documentElement.setAttribute("lang", lang);
      updateText(lang);
      if (window.innerWidth > 640) {
        selectorButton.innerHTML = event.target.innerHTML;
      } else {
        // Obtienes el div que contiene el SVG y el texto
        const svg = event.target.querySelector("svg"); // Encuentra el SVG dentro del objetivo del evento

        // Clonas el SVG con sus elementos hijos
        const clonedSvg = svg.cloneNode(true);

        // Limpiar el contenido actual del selectorButton y añadir solo el SVG
        selectorButton.innerHTML = ""; // Limpiar contenido actual (si es necesario)
        selectorButton.appendChild(clonedSvg); // Añadir solo el SVG clonado
      }

      optionsDiv.classList.add("hidden");
    });
  });

  document.addEventListener("click", (event) => {
    if (
      !selectorButton.contains(event.target) &&
      !optionsDiv.contains(event.target)
    ) {
      optionsDiv.classList.add("hidden");
    }
  });

  document.addEventListener("DOMContentLoaded", () => {
    const storedLang = localStorage.getItem("lang") || "en";
    document.documentElement.setAttribute("lang", storedLang);
    if (window.innerWidth > 640) {
      selectorButton.innerHTML =
        storedLang === "es"
          ? `<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18 13.5C18 14.0304 17.7893 14.5391 17.4142 14.9142C17.0391 15.2893 16.5304 15.5 16 15.5H2C1.46957 15.5 0.960859 15.2893 0.585786 14.9142C0.210714 14.5391 0 14.0304 0 13.5V4.5C0 3.96957 0.210714 3.46086 0.585786 3.08579C0.960859 2.71071 1.46957 2.5 2 2.5H16C16.5304 2.5 17.0391 2.71071 17.4142 3.08579C17.7893 3.46086 18 3.96957 18 4.5V13.5Z" fill="#75AADB"/>
<path d="M0 6.5H18V11.5H0V6.5Z" fill="#EEEEEE"/>
<path d="M9 6.5L9.244 7.774L9.957 6.6905L9.6945 7.9605L10.7675 7.232L10.039 8.3055L11.3095 8.0435L10.226 8.756L11.5 9L10.226 9.244L11.3095 9.957L10.039 9.6945L10.7675 10.7675L9.6945 10.039L9.957 11.3095L9.244 10.226L9 11.5L8.756 10.226L8.0435 11.3095L8.3055 10.039L7.232 10.7675L7.9605 9.6945L6.6905 9.957L7.774 9.244L6.5 9L7.774 8.756L6.6905 8.0435L7.9605 8.3055L7.232 7.232L8.3055 7.9605L8.0435 6.6905L8.756 7.774L9 6.5Z" fill="#FCBF49"/>
<path d="M9 7.165L9.121 7.7975L9.179 8.1L9.3485 7.843L9.7025 7.305L9.572 7.9355L9.5095 8.2375L9.7645 8.0645L10.2975 7.703L9.936 8.236L9.763 8.491L10.0645 8.4285L10.6955 8.2985L10.1575 8.6525L9.9 8.821L10.2025 8.879L10.835 9L10.2025 9.121L9.9 9.179L10.157 9.3485L10.695 9.7025L10.064 9.572L9.762 9.5095L9.935 9.7645L10.2965 10.297L9.764 9.9355L9.509 9.7625L9.5715 10.0645L9.702 10.6955L9.348 10.1575L9.179 9.9L9.121 10.2025L9 10.835L8.879 10.2025L8.821 9.9L8.6515 10.1575L8.2975 10.6955L8.4275 10.0645L8.49 9.763L8.235 9.936L7.702 10.2975L8.0635 9.7645L8.2365 9.5095L7.9345 9.572L7.304 9.7025L7.842 9.3485L8.099 9.179L7.7965 9.121L7.165 9L7.7975 8.879L8.1 8.821L7.8425 8.6515L7.3045 8.2975L7.935 8.4275L8.2365 8.49L8.0635 8.235L7.7015 7.702L8.2345 8.064L8.4895 8.237L8.427 7.9355L8.297 7.305L8.651 7.843L8.8205 8.1005L8.8785 7.798L9 7.165ZM9 6.5L8.756 7.774L8.0435 6.6905L8.3055 7.961L7.232 7.2325L7.9605 8.306L6.6905 8.044L7.774 8.7565L6.5 9L7.774 9.244L6.6905 9.957L7.9605 9.6945L7.232 10.7675L8.3055 10.039L8.0435 11.3095L8.756 10.226L9 11.5L9.244 10.226L9.957 11.3095L9.6945 10.039L10.7675 10.7675L10.039 9.6945L11.3095 9.957L10.226 9.244L11.5 9L10.226 8.756L11.3095 8.0435L10.039 8.3055L10.7675 7.232L9.6945 7.9605L9.957 6.69L9.244 7.7735L9 6.5Z" fill="#843511"/>
<path d="M9 10C9.55228 10 10 9.55228 10 9C10 8.44772 9.55228 8 9 8C8.44772 8 8 8.44772 8 9C8 9.55228 8.44772 10 9 10Z" fill="#FCBF49"/>
<path d="M9 10.0625C8.414 10.0625 7.9375 9.586 7.9375 9C7.9375 8.414 8.414 7.9375 9 7.9375C9.586 7.9375 10.0625 8.414 10.0625 9C10.0625 9.586 9.586 10.0625 9 10.0625ZM9 8.0625C8.483 8.0625 8.0625 8.483 8.0625 9C8.0625 9.517 8.483 9.9375 9 9.9375C9.517 9.9375 9.9375 9.517 9.9375 9C9.9375 8.483 9.517 8.0625 9 8.0625Z" fill="#843511"/>
<path d="M8.9005 8.887C8.9005 8.9645 8.77 9.027 8.609 9.027C8.4475 9.027 8.317 8.9645 8.317 8.887C8.317 8.8095 8.4475 8.747 8.609 8.747C8.7705 8.747 8.9005 8.8095 8.9005 8.887ZM9.677 8.875C9.677 8.7945 9.544 8.729 9.38 8.729C9.216 8.729 9.083 8.794 9.083 8.875C9.083 8.956 9.216 9.021 9.38 9.021C9.5445 9.021 9.677 8.9555 9.677 8.875Z" fill="#C16540"/>
<path d="M8.7315 9.43701C8.7315 9.37401 8.8545 9.32251 9.0055 9.32251C9.1565 9.32251 9.2795 9.37351 9.2795 9.43701C9.2795 9.50001 9.1565 9.55151 9.0055 9.55151C8.8545 9.55151 8.7315 9.50001 8.7315 9.43701Z" fill="#ED8662"/>
</svg>
 Español`
          : `<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_252_26)">
<path d="M0 4.5295V6.5H2.814L0 4.5295ZM2.332 15.5H6.5V12.5815L2.332 15.5ZM11.5 12.582V15.5H15.6675L11.5 12.582ZM0 11.5V13.4705L2.815 11.5H0ZM15.6685 2.5H11.5V5.4185L15.6685 2.5ZM18 13.471V11.5H15.1845L18 13.471ZM18 6.5V4.5295L15.1855 6.5H18ZM6.5 2.5H2.332L6.5 5.4185V2.5Z" fill="#00247D"/>
<path d="M12.57 11.5L17.426 14.9005C17.6627 14.6559 17.8331 14.3549 17.921 14.026L14.3135 11.5H12.57ZM6.5 11.5H5.4295L0.573999 14.9C0.834499 15.165 1.1685 15.3545 1.543 15.4425L6.5 11.9715V11.5ZM11.5 6.5H12.5705L17.426 3.1C17.1608 2.8314 16.8251 2.64332 16.4575 2.5575L11.5 6.0285V6.5ZM5.4295 6.5L0.573999 3.1C0.337083 3.34456 0.16653 3.64557 0.0784988 3.9745L3.686 6.5H5.4295Z" fill="#CF1B2B"/>
<path d="M18 10.5H10.5V15.5H11.5V12.582L15.6675 15.5H16C16.2656 15.4998 16.5285 15.4466 16.7733 15.3437C17.0181 15.2408 17.24 15.0901 17.426 14.9005L12.57 11.5H14.3135L17.921 14.026C17.9675 13.8575 18 13.683 18 13.5V13.471L15.1845 11.5H18V10.5ZM0 10.5V11.5H2.815L0 13.4705V13.5C0 14.0455 0.2195 14.539 0.574 14.9L5.4295 11.5H6.5V11.9715L1.543 15.442C1.69 15.477 1.842 15.5 2 15.5H2.332L6.5 12.5815V15.5H7.5V10.5H0ZM18 4.5C18.0005 3.97596 17.7942 3.47289 17.426 3.1L12.5705 6.5H11.5V6.0285L16.4575 2.5575C16.3077 2.52076 16.1542 2.50146 16 2.5H15.6685L11.5 5.4185V2.5H10.5V7.5H18V6.5H15.1855L18 4.5295V4.5ZM6.5 2.5V5.4185L2.332 2.5H2C1.73437 2.5003 1.47147 2.55352 1.22664 2.65653C0.9818 2.75955 0.759938 2.91031 0.574 3.1L5.4295 6.5H3.686L0.0785 3.9745C0.0290784 4.1454 0.00267879 4.32212 0 4.5L0 4.5295L2.814 6.5H0V7.5H7.5V2.5H6.5Z" fill="#EEEEEE"/>
<path d="M10.5 7.5V2.5H7.5V7.5H0V10.5H7.5V15.5H10.5V10.5H18V7.5H10.5Z" fill="#CF1B2B"/>
</g>
<defs>
<clipPath id="clip0_252_26">
<rect width="18" height="18" fill="white"/>
</clipPath>
</defs>
</svg>
English`;
    } else {
      selectorButton.innerHTML =
        storedLang === "es"
          ? `<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18 13.5C18 14.0304 17.7893 14.5391 17.4142 14.9142C17.0391 15.2893 16.5304 15.5 16 15.5H2C1.46957 15.5 0.960859 15.2893 0.585786 14.9142C0.210714 14.5391 0 14.0304 0 13.5V4.5C0 3.96957 0.210714 3.46086 0.585786 3.08579C0.960859 2.71071 1.46957 2.5 2 2.5H16C16.5304 2.5 17.0391 2.71071 17.4142 3.08579C17.7893 3.46086 18 3.96957 18 4.5V13.5Z" fill="#75AADB"/>
<path d="M0 6.5H18V11.5H0V6.5Z" fill="#EEEEEE"/>
<path d="M9 6.5L9.244 7.774L9.957 6.6905L9.6945 7.9605L10.7675 7.232L10.039 8.3055L11.3095 8.0435L10.226 8.756L11.5 9L10.226 9.244L11.3095 9.957L10.039 9.6945L10.7675 10.7675L9.6945 10.039L9.957 11.3095L9.244 10.226L9 11.5L8.756 10.226L8.0435 11.3095L8.3055 10.039L7.232 10.7675L7.9605 9.6945L6.6905 9.957L7.774 9.244L6.5 9L7.774 8.756L6.6905 8.0435L7.9605 8.3055L7.232 7.232L8.3055 7.9605L8.0435 6.6905L8.756 7.774L9 6.5Z" fill="#FCBF49"/>
<path d="M9 7.165L9.121 7.7975L9.179 8.1L9.3485 7.843L9.7025 7.305L9.572 7.9355L9.5095 8.2375L9.7645 8.0645L10.2975 7.703L9.936 8.236L9.763 8.491L10.0645 8.4285L10.6955 8.2985L10.1575 8.6525L9.9 8.821L10.2025 8.879L10.835 9L10.2025 9.121L9.9 9.179L10.157 9.3485L10.695 9.7025L10.064 9.572L9.762 9.5095L9.935 9.7645L10.2965 10.297L9.764 9.9355L9.509 9.7625L9.5715 10.0645L9.702 10.6955L9.348 10.1575L9.179 9.9L9.121 10.2025L9 10.835L8.879 10.2025L8.821 9.9L8.6515 10.1575L8.2975 10.6955L8.4275 10.0645L8.49 9.763L8.235 9.936L7.702 10.2975L8.0635 9.7645L8.2365 9.5095L7.9345 9.572L7.304 9.7025L7.842 9.3485L8.099 9.179L7.7965 9.121L7.165 9L7.7975 8.879L8.1 8.821L7.8425 8.6515L7.3045 8.2975L7.935 8.4275L8.2365 8.49L8.0635 8.235L7.7015 7.702L8.2345 8.064L8.4895 8.237L8.427 7.9355L8.297 7.305L8.651 7.843L8.8205 8.1005L8.8785 7.798L9 7.165ZM9 6.5L8.756 7.774L8.0435 6.6905L8.3055 7.961L7.232 7.2325L7.9605 8.306L6.6905 8.044L7.774 8.7565L6.5 9L7.774 9.244L6.6905 9.957L7.9605 9.6945L7.232 10.7675L8.3055 10.039L8.0435 11.3095L8.756 10.226L9 11.5L9.244 10.226L9.957 11.3095L9.6945 10.039L10.7675 10.7675L10.039 9.6945L11.3095 9.957L10.226 9.244L11.5 9L10.226 8.756L11.3095 8.0435L10.039 8.3055L10.7675 7.232L9.6945 7.9605L9.957 6.69L9.244 7.7735L9 6.5Z" fill="#843511"/>
<path d="M9 10C9.55228 10 10 9.55228 10 9C10 8.44772 9.55228 8 9 8C8.44772 8 8 8.44772 8 9C8 9.55228 8.44772 10 9 10Z" fill="#FCBF49"/>
<path d="M9 10.0625C8.414 10.0625 7.9375 9.586 7.9375 9C7.9375 8.414 8.414 7.9375 9 7.9375C9.586 7.9375 10.0625 8.414 10.0625 9C10.0625 9.586 9.586 10.0625 9 10.0625ZM9 8.0625C8.483 8.0625 8.0625 8.483 8.0625 9C8.0625 9.517 8.483 9.9375 9 9.9375C9.517 9.9375 9.9375 9.517 9.9375 9C9.9375 8.483 9.517 8.0625 9 8.0625Z" fill="#843511"/>
<path d="M8.9005 8.887C8.9005 8.9645 8.77 9.027 8.609 9.027C8.4475 9.027 8.317 8.9645 8.317 8.887C8.317 8.8095 8.4475 8.747 8.609 8.747C8.7705 8.747 8.9005 8.8095 8.9005 8.887ZM9.677 8.875C9.677 8.7945 9.544 8.729 9.38 8.729C9.216 8.729 9.083 8.794 9.083 8.875C9.083 8.956 9.216 9.021 9.38 9.021C9.5445 9.021 9.677 8.9555 9.677 8.875Z" fill="#C16540"/>
<path d="M8.7315 9.43701C8.7315 9.37401 8.8545 9.32251 9.0055 9.32251C9.1565 9.32251 9.2795 9.37351 9.2795 9.43701C9.2795 9.50001 9.1565 9.55151 9.0055 9.55151C8.8545 9.55151 8.7315 9.50001 8.7315 9.43701Z" fill="#ED8662"/>
</svg>`
          : `<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_252_26)">
<path d="M0 4.5295V6.5H2.814L0 4.5295ZM2.332 15.5H6.5V12.5815L2.332 15.5ZM11.5 12.582V15.5H15.6675L11.5 12.582ZM0 11.5V13.4705L2.815 11.5H0ZM15.6685 2.5H11.5V5.4185L15.6685 2.5ZM18 13.471V11.5H15.1845L18 13.471ZM18 6.5V4.5295L15.1855 6.5H18ZM6.5 2.5H2.332L6.5 5.4185V2.5Z" fill="#00247D"/>
<path d="M12.57 11.5L17.426 14.9005C17.6627 14.6559 17.8331 14.3549 17.921 14.026L14.3135 11.5H12.57ZM6.5 11.5H5.4295L0.573999 14.9C0.834499 15.165 1.1685 15.3545 1.543 15.4425L6.5 11.9715V11.5ZM11.5 6.5H12.5705L17.426 3.1C17.1608 2.8314 16.8251 2.64332 16.4575 2.5575L11.5 6.0285V6.5ZM5.4295 6.5L0.573999 3.1C0.337083 3.34456 0.16653 3.64557 0.0784988 3.9745L3.686 6.5H5.4295Z" fill="#CF1B2B"/>
<path d="M18 10.5H10.5V15.5H11.5V12.582L15.6675 15.5H16C16.2656 15.4998 16.5285 15.4466 16.7733 15.3437C17.0181 15.2408 17.24 15.0901 17.426 14.9005L12.57 11.5H14.3135L17.921 14.026C17.9675 13.8575 18 13.683 18 13.5V13.471L15.1845 11.5H18V10.5ZM0 10.5V11.5H2.815L0 13.4705V13.5C0 14.0455 0.2195 14.539 0.574 14.9L5.4295 11.5H6.5V11.9715L1.543 15.442C1.69 15.477 1.842 15.5 2 15.5H2.332L6.5 12.5815V15.5H7.5V10.5H0ZM18 4.5C18.0005 3.97596 17.7942 3.47289 17.426 3.1L12.5705 6.5H11.5V6.0285L16.4575 2.5575C16.3077 2.52076 16.1542 2.50146 16 2.5H15.6685L11.5 5.4185V2.5H10.5V7.5H18V6.5H15.1855L18 4.5295V4.5ZM6.5 2.5V5.4185L2.332 2.5H2C1.73437 2.5003 1.47147 2.55352 1.22664 2.65653C0.9818 2.75955 0.759938 2.91031 0.574 3.1L5.4295 6.5H3.686L0.0785 3.9745C0.0290784 4.1454 0.00267879 4.32212 0 4.5L0 4.5295L2.814 6.5H0V7.5H7.5V2.5H6.5Z" fill="#EEEEEE"/>
<path d="M10.5 7.5V2.5H7.5V7.5H0V10.5H7.5V15.5H10.5V10.5H18V7.5H10.5Z" fill="#CF1B2B"/>
</g>
<defs>
<clipPath id="clip0_252_26">
<rect width="18" height="18" fill="white"/>
</clipPath>
</defs>
</svg>`;
    }
    updateText(storedLang);
  });
</script>
