---
import {
  HTML,
  CSS,
  SASS,
  TailwindCSS,
  Bootstrap,
  JavaScript,
  AstroComponent,
  ReactJS,
  NodeJS,
  MySQL,
} from "../TechStack/index.ts";
---

<div
  class="flex w-full md:w-1/2 overflow-hidden"
  data-aos="fade-left"
  data-aos-duration="500"
  data-aos-anchor-placement="center-bottom"
>
  <div
    class="bg-[#dbe4fa] dark:bg-[#323a5f] p-2 rounded-3xl flex w-full h-full px-4 py-6 flex-col gap-2 md:gap-7"
  >
    <div class="flex items-center gap-1 justify-center">
      <svg
        class="w-8 h-8 text-[#272727] dark:text-[#F9F9F9]"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m8 8-4 4 4 4m8 0 4-4-4-4m-2-3-4 14"></path>
      </svg>

      <h2 class="text-2xl font-bold text-[#272727] dark:text-[#F9F9F9]">
        Desarrollo
      </h2>
    </div>
    <div class="flex gap-x-2 gap-y-3 flex-wrap items-center justify-center">
      <HTML variant="skill" />
      <CSS variant="skill" />
      <SASS variant="skill" />
      <TailwindCSS variant="skill" />
      <Bootstrap variant="skill" />
      <JavaScript variant="skill" />
      <AstroComponent variant="skill" />
      <ReactJS variant="skill" />
      <NodeJS variant="skill" />
      <MySQL variant="skill" />
    </div>
  </div>
</div>
