---
import {
    Figma,
    AdobePhotoshop,
    AdobeIllustrator,
    AdobePremierePro,
    AdobeAfterEffects,
    Wordpress,
    Divi,
    ElementorPro,
    WooCommerce,
  } from "../TechStack/index.ts";
  ---
  
  <div
    class="flex w-full md:w-1/2 overflow-hidden"
    data-aos="fade-left"
    data-aos-duration="500"
    data-aos-anchor-placement="center-bottom"
  >
    <div
      class="bg-[#f0d1f8] dark:bg-[#3e5e6d] rounded-3xl w-full h-full flex px-4 py-6 flex-col gap-2 md:gap-7"
    >
      <div class="flex items-center gap-2 justify-center">
        <h2 class="text-2xl font-bold text-[#272727] dark:text-[#F9F9F9]">
          WordPress
        </h2>
      </div>
      <div class="flex gap-x-2 gap-y-3 flex-wrap items-center justify-center">
          <ElementorPro variant="skill" />
          <WooCommerce variant="skill" />
      </div>
    </div>
  </div>
  