<div
  class="pin-item max-w-[1200px] w-screen min-[1200px]:w-full flex shrink-0 grow-0 px-2 pt-2 overflow-hidden" data-aos="fade-right"
     data-aos-duration="500" data-aos-anchor-placement="center-bottom"
>
  <div class="bg-[#4b4b4b] rounded-3xl w-full h-full flex py-4 md:p-4 flex-col gap-2 md:gap-7">
    <div class="w-full h-full flex flex-col md:flex-row px-4 md:px-0 image-container">
      <div
        class="backgroundDiv flex w-full shrink-0 md:shrink grow-0 md:grow md:h-full flex-auto bg-[url(/main.png)] rounded-2xl bg-cover bg-top bg-no-repeat aspect-video md:aspect-auto"
      >
      </div>
      <div class="flex flex-col py-2 w-full md:px-4 gap-4 div-principal">
        <div class="flex flex-col gap-1 order-2 md:order-1">
          <h3
            class="font-bold text-[#F9F9F9] text-2xl sm:text-3xl"
          >
          B&B Racing Parts WebApp
          </h3>
          <div class="flex gap-1.5">
            <span
              class="text-xs sm:text-sm text-[#f9f9f9] flex items-center gap-1 rounded-2xl bg-[#FE726120] px-3 py-1"
              ><svg class="group w-4 h-auto" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="stroke-[#F9F9F9] transition-all duration-300 ease-in-out" d="M13.9792 13.9793C15.6245 13.9793 16.9583 12.6455 16.9583 11.0002C16.9583 9.35481 15.6245 8.021 13.9792 8.021C12.3338 8.021 11 9.35481 11 11.0002C11 12.6455 12.3338 13.9793 13.9792 13.9793Z" stroke-width="0.916667" stroke-linecap="round" stroke-linejoin="round"/>
                <path class="stroke-[#F9F9F9] transition-all duration-300 ease-in-out" d="M8.02083 13.9792C7.43161 13.9792 6.85562 14.1539 6.3657 14.4812C5.87577 14.8086 5.49393 15.2739 5.26844 15.8183C5.04295 16.3626 4.98396 16.9616 5.09891 17.5395C5.21386 18.1174 5.4976 18.6483 5.91424 19.0649C6.33089 19.4816 6.86172 19.7653 7.43963 19.8803C8.01753 19.9952 8.61654 19.9362 9.16091 19.7107C9.70528 19.4852 10.1706 19.1034 10.4979 18.6135C10.8253 18.1235 11 17.5476 11 16.9583V13.9792M8.02083 13.9792H11M8.02083 13.9792C7.23071 13.9792 6.47294 13.6653 5.91424 13.1066C5.35554 12.5479 5.04167 11.7901 5.04167 11C5.04167 10.2099 5.35554 9.45211 5.91424 8.89341C6.47294 8.33471 7.23071 8.02083 8.02083 8.02083M11 13.9792V8.02083M11 2.0625H13.9792C14.7693 2.0625 15.5271 2.37638 16.0858 2.93508C16.6445 3.49378 16.9583 4.25154 16.9583 5.04167C16.9583 5.83179 16.6445 6.58955 16.0858 7.14826C15.5271 7.70696 14.7693 8.02083 13.9792 8.02083H11M11 2.0625V8.02083M11 2.0625H8.02083C7.23071 2.0625 6.47294 2.37638 5.91424 2.93508C5.35554 3.49378 5.04167 4.25154 5.04167 5.04167C5.04167 5.83179 5.35554 6.58955 5.91424 7.14826C6.47294 7.70696 7.23071 8.02083 8.02083 8.02083M11 8.02083H8.02083" stroke-width="0.916667" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              Figma</span
            >
            <span
              class="text-xs sm:text-sm text-[#f9f9f9] flex items-center gap-1 rounded-2xl bg-[#001E3630] px-3 py-1"
              >
              <svg class="group w-5 h-auto" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_48_166)">
                <path d="M2.9792 0.175049H12.0208C13.3917 0.175049 14.5 1.28335 14.5 2.65425V11.3458C14.5 12.7168 13.3917 13.825 12.0208 13.825H2.9792C1.6083 13.825 0.5 12.7168 0.5 11.3458V2.65425C0.5 1.28335 1.6083 0.175049 2.9792 0.175049Z" fill="#001E36"/>
                <path d="M5.51673 3.64575C5.34173 3.64575 5.16673 3.64575 4.98593 3.65166C4.80502 3.65746 4.63582 3.65746 4.47832 3.66336C4.32082 3.66916 4.17502 3.66916 4.03502 3.67495C3.90082 3.68075 3.80752 3.68075 3.70832 3.68075C3.66752 3.68075 3.65002 3.70405 3.65002 3.74496V9.74746C3.65002 9.79996 3.67332 9.82336 3.72002 9.82336H4.85173C4.89252 9.81746 4.92173 9.78245 4.91582 9.74166V7.86916C5.02662 7.86916 5.10832 7.86916 5.16673 7.87496C5.22502 7.88075 5.31832 7.88075 5.45832 7.88075C5.93673 7.88075 6.37423 7.82825 6.77082 7.68246C7.15002 7.54245 7.47673 7.29746 7.71002 6.97075C7.94336 6.64409 8.06002 6.22992 8.06002 5.72825C8.06002 5.46575 8.01343 5.21495 7.92593 4.96995C7.83321 4.72035 7.68797 4.49357 7.50002 4.30496C7.27819 4.08945 7.01117 3.92603 6.71832 3.82655C6.39162 3.70405 5.99502 3.64575 5.51673 3.64575ZM5.64688 4.79474C5.8547 4.79867 6.05704 4.83499 6.24582 4.91155C6.41502 4.97575 6.55502 5.09245 6.65423 5.24405C6.74727 5.40094 6.79381 5.58104 6.78843 5.76336C6.78843 6.01996 6.73002 6.21836 6.60752 6.36416C6.47912 6.50996 6.31582 6.62086 6.12923 6.67336C5.91332 6.74336 5.68582 6.77825 5.45832 6.77825H5.14912C5.07912 6.77825 5.00343 6.77246 4.92173 6.76666V4.80666C4.96252 4.80075 5.04423 4.79496 5.16093 4.80086C5.27173 4.79496 5.40582 4.79496 5.55752 4.79496C5.58742 4.79423 5.61721 4.79415 5.64688 4.79474ZM10.5392 5.09256C10.125 5.09256 9.78082 5.15666 9.50673 5.29666C9.25593 5.41336 9.04002 5.59996 8.89423 5.83325C8.76593 6.04916 8.69582 6.28825 8.69582 6.53916C8.69084 6.74552 8.73694 6.94992 8.83002 7.13416C8.93912 7.33034 9.0906 7.49972 9.27343 7.62996C9.53004 7.80547 9.8085 7.94666 10.1017 8.04995C10.3875 8.16075 10.58 8.24825 10.6734 8.32405C10.7667 8.39996 10.8134 8.47575 10.8134 8.55746C10.8134 8.66245 10.7492 8.76166 10.6559 8.80246C10.5509 8.85496 10.3934 8.88416 10.1717 8.88416C9.93843 8.88416 9.70502 8.85496 9.48332 8.79666C9.22876 8.73981 8.98469 8.64337 8.76002 8.51086C8.74252 8.49916 8.72502 8.49336 8.70752 8.50506C8.69002 8.51666 8.68423 8.53995 8.68423 8.55746V9.57245C8.67843 9.61916 8.70752 9.65995 8.74843 9.68325C8.9376 9.77162 9.13769 9.83441 9.34343 9.86996C9.60593 9.92245 9.86832 9.94575 10.1366 9.94575C10.5566 9.94575 10.9067 9.88166 11.1925 9.75916C11.455 9.65416 11.6825 9.47336 11.8458 9.23996C11.9988 9.0105 12.0781 8.73987 12.0733 8.46416C12.0791 8.25588 12.033 8.04943 11.9392 7.86336C11.8283 7.66495 11.6708 7.50166 11.4783 7.37916C11.1967 7.20231 10.8952 7.05935 10.58 6.95325C10.4393 6.895 10.3011 6.83078 10.1658 6.76075C10.09 6.71995 10.02 6.66746 9.96752 6.60325C9.93252 6.55655 9.90923 6.50416 9.90923 6.45166C9.90923 6.39916 9.92673 6.34086 9.95582 6.29416C9.99673 6.23586 10.0608 6.19496 10.1366 6.17745C10.2475 6.14836 10.37 6.13075 10.4866 6.13655C10.7083 6.13655 10.9241 6.16575 11.14 6.21246C11.3384 6.25325 11.525 6.31745 11.7 6.41086C11.7233 6.42245 11.7525 6.42245 11.805 6.41086C11.8141 6.40411 11.8215 6.3953 11.8266 6.38515C11.8317 6.375 11.8343 6.3638 11.8342 6.35246V5.40166C11.8342 5.37825 11.8283 5.35496 11.8225 5.33166C11.8108 5.30836 11.7875 5.28495 11.7642 5.27916C11.6033 5.2134 11.4348 5.16831 11.2625 5.14496C11.023 5.11008 10.7813 5.09264 10.5392 5.09256Z" fill="#31A8FF"/>
                </g>
                <defs>
                <clipPath id="clip0_48_166">
                <rect width="14" height="14" fill="white" transform="translate(0.5)"/>
                </clipPath>
                </defs>
                </svg>
                
              Adobe Photoshop</span
            >
          </div>

          <p
            class="text-[#F9F9F9] w-full text-sm sm:text-base mt-4" data-i18n="bbDesc"
          >
          Diseño de interfaz hecho para la empresa B&B Racing Parts, con la necesidad de generar una plataforma funcional y con buena usabilidad.
          Se incluye diseño de Login, plataforma principal One Page y el sistema de filtros.
          </p>
        </div>
        <div class="gap-2 items-center flex order-3 md:order-2">
          <a
            href="https://www.figma.com/design/x89IYoU15IW4Z6lXr1eI9f/BBRacing-Parts-WebApp-Project?m=auto&t=gRX1geV3h2ihXbBG-1" target="_blank"
            class="group w-max h-full px-3 sm:px-[18px] py-2 font-medium text-sm sm:text-base  text-[#F9F9F9] hover:bg-[#f9f9f9] rounded-4xl bg-[#F9F9F910] hover:text-[#353535] border-1 border-[#f9f9f9] flex items-center gap-2 transition-all duration-300 ease-in-out"
            >
            <svg class="group w-5.5 h-auto" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="stroke-[#F9F9F9] group-hover:stroke-[#272727] transition-all duration-300 ease-in-out" d="M13.9792 13.9793C15.6245 13.9793 16.9583 12.6455 16.9583 11.0002C16.9583 9.35481 15.6245 8.021 13.9792 8.021C12.3338 8.021 11 9.35481 11 11.0002C11 12.6455 12.3338 13.9793 13.9792 13.9793Z" stroke-width="0.916667" stroke-linecap="round" stroke-linejoin="round"/>
              <path class="stroke-[#F9F9F9] group-hover:stroke-[#272727] transition-all duration-300 ease-in-out" d="M8.02083 13.9792C7.43161 13.9792 6.85562 14.1539 6.3657 14.4812C5.87577 14.8086 5.49393 15.2739 5.26844 15.8183C5.04295 16.3626 4.98396 16.9616 5.09891 17.5395C5.21386 18.1174 5.4976 18.6483 5.91424 19.0649C6.33089 19.4816 6.86172 19.7653 7.43963 19.8803C8.01753 19.9952 8.61654 19.9362 9.16091 19.7107C9.70528 19.4852 10.1706 19.1034 10.4979 18.6135C10.8253 18.1235 11 17.5476 11 16.9583V13.9792M8.02083 13.9792H11M8.02083 13.9792C7.23071 13.9792 6.47294 13.6653 5.91424 13.1066C5.35554 12.5479 5.04167 11.7901 5.04167 11C5.04167 10.2099 5.35554 9.45211 5.91424 8.89341C6.47294 8.33471 7.23071 8.02083 8.02083 8.02083M11 13.9792V8.02083M11 2.0625H13.9792C14.7693 2.0625 15.5271 2.37638 16.0858 2.93508C16.6445 3.49378 16.9583 4.25154 16.9583 5.04167C16.9583 5.83179 16.6445 6.58955 16.0858 7.14826C15.5271 7.70696 14.7693 8.02083 13.9792 8.02083H11M11 2.0625V8.02083M11 2.0625H8.02083C7.23071 2.0625 6.47294 2.37638 5.91424 2.93508C5.35554 3.49378 5.04167 4.25154 5.04167 5.04167C5.04167 5.83179 5.35554 6.58955 5.91424 7.14826C6.47294 7.70696 7.23071 8.02083 8.02083 8.02083M11 8.02083H8.02083" stroke-width="0.916667" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

            Figma Draft</a
          >
        </div>
        <div class="order-1 md:order-3 md:mt-auto w-full overflow-hidden">
          <div
            class="flex gap-4 md:flex-wrap overflow-auto"
          >
            <img
              src="/main.png"
              alt=""
              class="object-cover rounded-xl aspect-square w-18 md:w-24 lg:w-28 h-18 md:h-24 lg:h-28 border-[#3D7AFF] border-2 cursor-pointer"
            />
            <img
              src="/bbracing-webappimg1.webp"
              alt=""
              class="object-cover rounded-xl aspect-square w-18 md:w-24 lg:w-28 h-18 md:h-24 lg:h-28 cursor-pointer"
            />
            <img
              src="/bbracing-webappimg2.webp"
              alt=""
              class="object-cover rounded-xl aspect-square w-18 md:w-24 lg:w-28 h-18 md:h-24 lg:h-28 cursor-pointer"
            />
            <img
              src="/bbracing-webappimg3.webp"
              alt=""
              class="object-cover rounded-xl aspect-square w-18 md:w-24 lg:w-28 h-18 md:h-24 lg:h-28 cursor-pointer"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full h-max p-4 justify-between gap-12 div-adicional">
      <div class="h-full flex flex-col gap-4">
        <h4 class="font-semibold text-[#F9F9F9] text-xl sm:text-2xl" data-i18n="font">
          Tipografía
        </h4>
        <div class="flex gap-4 md:gap-4">
          <div class="flex flex-col">
            <span
              class="text-[#F9F9F9] font-[Plus_Jakarta_Sans] font-medium text-5xl md:text-7xl lg:text-8xl"
              >Aa</span
            >
            <span class="text-[#F9F9F9] font-[Plus_Jakarta_Sans] text-xs sm:text-base font-medium"
              >Plus Jakarta Sans</span
            >
          </div>
        </div>
      </div>
      <div class="h-full flex flex-col gap-4 md:min-w-1/2">
        <h4 class="font-semibold text-[#F9F9F9] text-xl sm:text-2xl" data-i18n="colors">
          Colores
        </h4>
        <div class="flex gap-2 md:gap-4 flex-wrap md:flex-nowrap">
          <div class="flex flex-col gap-2 items-center">
            <div
              class="w-14 sm:w-18 md:w-20 lg:w-24 border-[#F9F9F9] border-2 h-14 sm:h-18 md:h-20 lg:h-24 bg-[#171717]"
            >
            </div>
            <span class="font-medium text-xs sm:text-base text-[#F9F9F9]">#171717</span>
          </div>
          <div class="flex flex-col gap-2 items-center">
            <div
              class="w-14 sm:w-18 md:w-20 lg:w-24 border-[#F9F9F9] border-2 h-14 sm:h-18 md:h-20 lg:h-24 bg-[#2D2D2D]"
            >
            </div>
            <span class="font-medium text-xs sm:text-base text-[#F9F9F9]">#2D2D2D</span>
          </div>
          <div class="flex flex-col gap-2 items-center">
            <div
              class="w-14 sm:w-18 md:w-20 lg:w-24 border-[#F9F9F9] border-2 h-14 sm:h-18 md:h-20 lg:h-24 bg-[#3A3A3A]"
            >
            </div>
            <span class="font-medium text-xs sm:text-base text-[#F9F9F9]">#3A3A3A</span>
          </div>
          <div class="flex flex-col gap-2 items-center">
            <div
              class="w-14 sm:w-18 md:w-20 lg:w-24 border-[#F9F9F9] border-2 h-14 sm:h-18 md:h-20 lg:h-24 bg-[#EDEDED]"
            >
            </div>
            <span class="font-medium text-xs sm:text-base text-[#F9F9F9]">#EDEDED</span>
          </div>
          <div class="flex flex-col gap-2 items-center">
            <div
              class="w-14 sm:w-18 md:w-20 lg:w-24  border-[#F9F9F9] border-2 h-14 sm:h-18 md:h-20 lg:h-24 bg-[#DB2C2C]"
            >
            </div>
            <span class="font-medium text-xs sm:text-base text-[#F9F9F9]">#DB2C2C</span>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<style>
  .italiana-stroke {
    -webkit-text-stroke: 0.5px #f9f9f9;
  }
  #backgroundDiv {
    transition: opacity 0.3s ease-in-out; /* Transición suave de opacidad */
  }

  @media (width >= 768px) and (height < 850px) {
    .div-adicional{
      display: none;
    }
  }

  @media (width < 768px) and (height < 880px) {
    .div-adicional{
      display: none;
    }
    .div-principal{
      height: 100%;
      justify-content: space-evenly;
    }
  }
</style>



