<div
  class="pin-item max-w-[1200px] w-screen min-[1200px]:w-full flex shrink-0 grow-0 px-2 pt-2 overflow-hidden" data-aos="fade-left"
     data-aos-duration="500" data-aos-anchor-placement="center-bottom"
>
  <div class="bg-[#2C353E] rounded-3xl w-full h-full flex py-4 md:p-4 flex-col gap-2 md:gap-7">
    <div class="w-full h-full flex flex-col md:flex-row px-4 md:px-0 image-container">
      <div
        class="backgroundDiv flex w-full shrink-0 md:shrink grow-0 md:grow md:h-full flex-auto bg-[url(/boxedcat1.webp)] rounded-2xl bg-cover bg-top bg-no-repeat aspect-video md:aspect-auto"
      >
      </div>
      <div class="flex flex-col py-2 w-full md:px-4 gap-4 div-principal">
        <div class="flex flex-col gap-1 order-2 md:order-1">
          <h3
            class="font-bold text-[#F9F9F9] text-2xl sm:text-3xl"
          >
          BoxedCat
          </h3>
          <div class="flex gap-1.5 flex-wrap">
            <span
              class="text-xs sm:text-sm text-[#f9f9f9] flex items-center gap-1 rounded-2xl bg-[#F1662A20] px-3 py-1"
              >
              <svg class="w-4 h-auto" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.39771 11.0504L1.48486 0.8125H11.5152L10.6011 11.0488L6.49393 12.1875L2.39771 11.0504Z" fill="#E44F26"/>
                <path d="M6.5 11.3172L9.81906 10.397L10.5999 1.64966H6.5V11.3172Z" fill="#F1662A"/>
                <path d="M6.5 5.44653H4.83844L4.72388 4.16075H6.5V2.90503H3.35156L3.38163 3.24222L3.68997 6.70225H6.5V5.44653ZM6.5 8.7075L6.49431 8.70912L5.096 8.33172L5.00663 7.33031H3.74603L3.92194 9.30144L6.49431 10.0156L6.5 10.014V8.7075Z" fill="#EBEBEB"/>
                <path d="M6.49548 5.44653V6.70225H8.04167L7.89623 8.3309L6.49548 8.70872V10.0152L9.06989 9.30143L9.08858 9.08937L9.38351 5.78372L9.41439 5.44653H6.49548ZM6.49548 2.90503V4.16075H9.52855L9.55373 3.87881L9.61102 3.24222L9.64108 2.90503H6.49548Z" fill="white"/>
                </svg>
                
              HTML</span
            >
            <span
              class="text-xs sm:text-sm text-[#f9f9f9] flex items-center gap-1 rounded-2xl bg-[#1572B620] px-3 py-1"
              ><svg class="w-4 h-auto" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_105_402)">
                <path d="M1.61682 9.80747L0.752808 0.116211H10.2472L9.38231 9.80601L5.49424 10.8839L1.61682 9.80747Z" fill="#1572B6"/>
                <path d="M5.50012 10.0599L8.64191 9.18887L9.38106 0.908447H5.50012V10.0599Z" fill="#33A9DC"/>
                <path d="M5.50012 4.41965H7.07295L7.18158 3.20252H5.50012V2.01392H8.48061L8.45208 2.33283L8.15989 5.60825H5.50012V4.41965Z" fill="white"/>
                <path d="M5.50708 7.50672L5.50184 7.50827L4.17815 7.15086L4.0935 6.20288H2.90051L3.06697 8.06919L5.50167 8.74491L5.50708 8.74337V7.50672Z" fill="#EBEBEB"/>
                <path d="M6.9719 5.55811L6.82872 7.14984L5.50305 7.50768V8.74432L7.93972 8.06903L7.9576 7.86819L8.16436 5.55811H6.9719Z" fill="white"/>
                <path d="M5.50412 2.01392V3.20252H2.63312L2.60932 2.93542L2.55518 2.33283L2.52673 2.01392H5.50412ZM5.50008 4.41982V5.60842H4.19306L4.16926 5.34133L4.11503 4.73874L4.08667 4.41982H5.50008Z" fill="#EBEBEB"/>
                </g>
                <defs>
                <clipPath id="clip0_105_402">
                <rect width="11" height="11" fill="white"/>
                </clipPath>
                </defs>
                </svg>

              CSS</span
            >
            <span
              class="text-xs sm:text-sm text-[#f9f9f9] flex items-center gap-1 rounded-2xl bg-[#F0DB4F20] px-3 py-1"
              ><svg class="w-4 h-auto" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.65625 0H2.34375C1.04933 0 0 1.04933 0 2.34375V7.65625C0 8.95067 1.04933 10 2.34375 10H7.65625C8.95067 10 10 8.95067 10 7.65625V2.34375C10 1.04933 8.95067 0 7.65625 0Z" fill="#F0DB4F"/>
                <path d="M2.62943 8.3566L3.39467 7.89348C3.54232 8.15523 3.67662 8.37672 3.99877 8.37672C4.30756 8.37672 4.50225 8.25594 4.50225 7.78609V4.59086H5.44201V7.79938C5.44201 8.7727 4.87146 9.21574 4.03904 9.21574C3.28729 9.21574 2.85092 8.82641 2.62939 8.35652M5.95244 8.2559L6.7176 7.81289C6.91904 8.14184 7.18084 8.38348 7.64397 8.38348C8.03338 8.38348 8.28166 8.18879 8.28166 7.92027C8.28166 7.59809 8.02658 7.48395 7.59697 7.29605L7.36209 7.19531C6.68408 6.90672 6.23432 6.54422 6.23432 5.77898C6.23432 5.07414 6.77135 4.53711 7.61045 4.53711C8.20787 4.53711 8.63748 4.74523 8.94623 5.28895L8.21455 5.75883C8.05342 5.4702 7.87896 5.35609 7.61045 5.35609C7.33522 5.35609 7.16068 5.53063 7.16068 5.75883C7.16068 6.04074 7.33521 6.15488 7.73795 6.32945L7.97287 6.43012C8.77166 6.7725 9.22143 7.12148 9.22143 7.90684C9.22143 8.7527 8.55689 9.21582 7.66412 9.21582C6.7915 9.21582 6.22764 8.79965 5.95244 8.2559Z" fill="#323330"/>
                </svg>
                
              Javascript</span
            >
          </div>

          <p
            class="text-[#F9F9F9] w-full text-sm sm:text-base mt-4" data-i18n="boxedDesc"
          >
          Este es un proyecto personal. Una simulación de una nota, en este caso de una entrevista, en donde hay elementos interactivos como el poder guardar una nota, poder valorar la nota y comentar en ella.
          </p>
        </div>
        <div class="gap-2 items-center flex order-3 md:order-2">
          <a
            href="https://github.com/damianparrilli/boxedcat" target="_blank"
            class="group w-max h-full px-3 sm:px-[18px] py-2 font-medium text-sm sm:text-base  text-[#F9F9F9] hover:bg-[#f9f9f9] rounded-4xl bg-[#F9F9F910] hover:text-[#353535] border-1 border-[#f9f9f9] flex items-center gap-2 transition-all duration-300 ease-in-out"
            ><svg
              class="group w-7 h-auto"
              viewBox="0 0 31 31"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="fill-[#F9F9F9] group-hover:fill-[#272727] transition-all duration-300 ease-in-out"
                d="M16.0004 5C13.3883 4.99994 10.8615 5.90959 8.87205 7.56615C6.88261 9.22272 5.5604 11.5181 5.14204 14.0415C4.72367 16.5649 5.23645 19.1517 6.58862 21.3389C7.94078 23.5262 10.0441 25.1711 12.5221 25.9794C13.0721 26.0741 13.2778 25.7512 13.2778 25.468C13.2778 25.2129 13.2646 24.3645 13.2646 23.4634C10.5003 23.9608 9.78531 22.8035 9.56531 22.1984C9.32111 21.6094 8.93414 21.0873 8.4378 20.6772C8.0528 20.4759 7.50279 19.9774 8.4235 19.9645C8.7754 20.0017 9.11294 20.1214 9.40746 20.3135C9.70199 20.5056 9.94481 20.7645 10.1153 21.068C10.2657 21.3325 10.468 21.5654 10.7105 21.7532C10.953 21.9411 11.231 22.0802 11.5286 22.1628C11.8262 22.2453 12.1374 22.2695 12.4446 22.234C12.7517 22.1986 13.0487 22.1042 13.3185 21.9562C13.3658 21.4085 13.6153 20.8964 14.0203 20.5157C11.5728 20.2466 9.0153 19.3186 9.0153 15.2006C9.00061 14.1306 9.40392 13.0955 10.1428 12.3068C9.80722 11.3767 9.84656 10.3565 10.2528 9.45383C10.2528 9.45383 11.1735 9.17177 13.2778 10.5573C15.0778 10.073 16.9779 10.073 18.7779 10.5573C20.8811 9.15777 21.8029 9.45383 21.8029 9.45383C22.2092 10.3565 22.2485 11.3767 21.9129 12.3068C22.6547 13.0938 23.0585 14.1301 23.0404 15.2006C23.0404 19.3315 20.4686 20.2466 18.0222 20.5157C18.2844 20.7763 18.4863 21.089 18.6142 21.4327C18.7421 21.7763 18.7931 22.1428 18.7636 22.5074C18.7636 23.9479 18.7504 25.1052 18.7504 25.468C18.7504 25.7512 18.9561 26.0871 19.5061 25.9794C21.9796 25.1644 24.0766 23.5155 25.4229 21.3272C26.7691 19.1389 27.2769 16.5536 26.8557 14.0327C26.4344 11.5119 25.1115 9.2196 23.1232 7.56505C21.1348 5.9105 18.6103 5.00139 16.0004 5Z"
              ></path>
            </svg>

            Source Code</a
          >
          <a
            href="https://boxedcat.netlify.app/" target="_blank"
            class="group w-max h-full px-3 sm:px-[18px] py-2 font-medium text-sm sm:text-base text-[#F9F9F9] hover:bg-[#f9f9f9] rounded-4xl bg-[#F9F9F910] hover:text-[#353535] border-1 border-[#f9f9f9] flex items-center gap-2 transition-all duration-300 ease-in-out"
            ><svg
              class="w-5"
              viewBox="0 0 17 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="fill-[#F9F9F9] group-hover:fill-[#272727] transition-all duration-300 ease-in-out"
                d="M10.625 1.0625V7.4375L15.9375 4.25L10.625 1.0625Z"></path>
              <path
                class=" fill-[#F9F9F9] group-hover:fill-[#272727] transition-all duration-300 ease-in-out"
                d="M14.875 7.4375V11.6875H2.125V3.1875H7.4375V2.125H2.125C1.84321 2.125 1.57296 2.23694 1.3737 2.4362C1.17444 2.63546 1.0625 2.90571 1.0625 3.1875V11.6875C1.0625 11.9693 1.17444 12.2395 1.3737 12.4388C1.57296 12.6381 1.84321 12.75 2.125 12.75H6.375V14.875H4.25V15.9375H12.75V14.875H10.625V12.75H14.875C15.1568 12.75 15.427 12.6381 15.6263 12.4388C15.8256 12.2395 15.9375 11.9693 15.9375 11.6875V7.4375H14.875ZM9.5625 14.875H7.4375V12.75H9.5625V14.875Z"
              ></path>
            </svg>

            Preview</a
          >
          
        </div>
        <div class="order-1 md:order-3 md:mt-auto w-full overflow-hidden">
          <div
            class="flex gap-4 md:flex-wrap overflow-auto"
          >
            <img
              src="/boxedcat1.webp"
              alt=""
              class="object-cover rounded-xl aspect-square w-18 md:w-24 lg:w-28 h-18 md:h-24 lg:h-28 border-[#3D7AFF] border-2 cursor-pointer"
            />
            <img
              src="/boxedcat2.webp"
              alt=""
              class="object-cover rounded-xl aspect-square w-18 md:w-24 lg:w-28 h-18 md:h-24 lg:h-28 cursor-pointer"
            />
            <img
              src="/boxedcat3.webp"
              alt=""
              class="object-cover rounded-xl aspect-square w-18 md:w-24 lg:w-28 h-18 md:h-24 lg:h-28 cursor-pointer"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full h-max p-4 justify-between gap-12 div-adicional">
      <div class="h-full flex flex-col gap-4">
        <h4 class="font-semibold text-[#F9F9F9] text-xl sm:text-2xl" data-i18n="font">
          Tipografía
        </h4>
        <div class="flex gap-4 md:gap-4">
          <div class="flex flex-col">
            <span
              class="text-[#F9F9F9] font-[Roboto] font-medium text-5xl md:text-7xl lg:text-8xl"
              >Aa</span
            >
            <span class="text-[#F9F9F9] font-[Roboto] text-xs sm:text-base font-medium"
              >Roboto</span
            >
          </div>
        </div>
      </div>
      <div class="h-full flex flex-col gap-4 md:min-w-1/2">
        <h4 class="font-semibold text-[#F9F9F9] text-xl sm:text-2xl" data-i18n="colors">
          Colores
        </h4>
        <div class="flex gap-2 md:gap-4 flex-wrap md:flex-nowrap">
          <div class="flex flex-col gap-2 items-center">
            <div
              class="w-14 sm:w-18 md:w-20 lg:w-24 border-[#F9F9F9] border-2 h-14 sm:h-18 md:h-20 lg:h-24 bg-[#69B9E7]"
            >
            </div>
            <span class="font-medium text-xs sm:text-base text-[#F9F9F9]">#69B9E7</span>
          </div>
          <div class="flex flex-col gap-2 items-center">
            <div
              class="w-14 sm:w-18 md:w-20 lg:w-24 border-[#F9F9F9] border-2 h-14 sm:h-18 md:h-20 lg:h-24 bg-[#14273C]"
            >
            </div>
            <span class="font-medium text-xs sm:text-base text-[#F9F9F9]">#14273C</span>
          </div>
          <div class="flex flex-col gap-2 items-center">
            <div
              class="w-14 sm:w-18 md:w-20 lg:w-24 border-[#F9F9F9] border-2 h-14 sm:h-18 md:h-20 lg:h-24 bg-[#F05E4C]"
            >
            </div>
            <span class="font-medium text-xs sm:text-base text-[#F9F9F9]">#F05E4C</span>
          </div>
          <div class="flex flex-col gap-2 items-center">
            <div
              class="w-14 sm:w-18 md:w-20 lg:w-24 border-[#F9F9F9] border-2 h-14 sm:h-18 md:h-20 lg:h-24 bg-[#000000]"
            >
            </div>
            <span class="font-medium text-xs sm:text-base text-[#F9F9F9]">#000000</span>
          </div>
          <div class="flex flex-col gap-2 items-center">
            <div
              class="w-14 sm:w-18 md:w-20 lg:w-24  border-[#F9F9F9] border-2 h-14 sm:h-18 md:h-20 lg:h-24 bg-[#FFFFFF]"
            >
            </div>
            <span class="font-medium text-xs sm:text-base text-[#F9F9F9]">#FFFFFF</span>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<style>
  .italiana-stroke {
    -webkit-text-stroke: 0.5px #f9f9f9;
  }

  @media (width >= 768px) and (height < 850px) {
    .div-adicional{
      display: none;
    }
  }

  @media (width < 768px) and (height < 880px) {
    .div-adicional{
      display: none;
    }
    .div-principal{
      height: 100%;
      justify-content: space-evenly;
    }
  }
</style>
